/* STYLE SWITCHER
-------------------------------------------------- */

#style-switcher {
  position: fixed;
  right: 0;
  top: 130px;
  z-index: 20000;
  display: block;
  
  .ctrl {
    float: left;
    color: #fff;
    background: $color-1;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-top: 20px;
    
    .fa {
      line-height: 40px;
      font-size: 18px;
      cursor: pointer;
    }
    
  }
    
  .styles {
    float: left;
    padding: 10px 0 10px 10px;
    display: none;
    background: #fff;
    padding: 15px 20px 30px 20px;
    border: 1px solid #ddd;
    @include vendorize(box-shadow, "0 0 0 5px rgba(0,0,0,0.1)");
  }
  
  .colors {
    margin: 0 0 10px 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 135px;
    
    li {
      display: block;
      float: left;
      margin: 0 5% 5% 0;
      cursor: pointer;
      width:30%;
      padding:12px 0;
      
      &:nth-child(3n) {
        margin-right: 0;
      }
      
      span {
        display: block;
        height: 12px;
        width: 12px;
        margin:auto;
        border-radius:50%;
      }
    }
  }
  
  .bgs {
    margin: 0 0 10px 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 135px;
    
    li {
      display: block;
      float: left;
      margin: 0 5px 5px 0;
      height: 30px;
      width: 30px;
      cursor: pointer;
      
      &:nth-child(4n) { margin-right: 0 }
    }
  }
  
  h5 {
    color: #fff;
    background: tint($color-2, 20%);
    font-weight: normal;
    font-size: 12px;
    padding: 7px 10px;
    line-height:1;
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    width: 135px;
  }
  
  @media (max-width:767px) {
    display:none;
  }
}

