﻿@using System.Web.Optimization

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vende y busca tu automóvil en minutos. La mejor p&aacute;gina de ventas y b&uacute;squeda autos en Rep&uacute;blica Dominicana.">
    <meta name="author" content="EnAutos.com">
    <meta name="KEYWORDS" content="carro,ventas de vehiculos,venta de carros,carros usados en venta,carro en venta,venta de carros usados,venta de autos">
    <link rel="shortcut icon" href="~/Content/images/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="~/Content/images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="~/Content/images/favicon/favicon-196.png">
    <link rel="icon" type="image/png" sizes="160x160" href="~/Content/images/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="~/Content/images/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon/favicon-16.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="150x150" href="~/Content/images/favicon/favicon-150.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/favicon/favicon-72.png">
    <link rel="apple-touch-icon" href="~/Content/images/favicon/favicon-57.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="~/Content/images/favicon/favicon-144.png">
    <meta name="msapplication-config" content="~/Content/images/favicon/browserconfig.xml">
    <title> EnAutos.com : Vende y busca tu autom&oacute;vil en minutos</title>

    <!-- Bootstrap core CSS
    ================================================== -->
    @Styles.Render("~/Content/bootstrapCss")
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/bxslider.css" rel="stylesheet">
    <link href="~/Content/css/default.css" rel="stylesheet">
    <!-- Custom styles for this template
    ================================================== -->
    <!--Load import javascripts
        ================================================== -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.0.min.js"></script>
    @Scripts.Render("~/bundles/bootstrapJs")
    <!--================================================== -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Page Wrapper
    ================================================== -->
    <div id="page-wrapper">

        <!-- Header
        ================================================== -->
        <header id="header">
            <!-- Top Bar -->
            <div id="top-bar">
                <!-- Container -->
                <div class="container">
                    <!-- Left Nav -->
                    <ul class="links pull-left hidden-xs">
                        <li><a href="mailto:miauto@enautos.com"><i class="fa fa-envelope"></i>miauto@enautos.com</a></li>
                        <li><a href="#"><i class="fa fa-user"></i>Tel&eacute;fonos: 809 480 0860</a></li>
                    </ul>
                    <!-- /Left nav -->
                    <!-- Right Nav -->
                    @*<ul class="links pull-right no-float-xs">
                            <li><a href="#"><i class="fa fa-rss"></i>feed</a></li>
                            <li><a href="#"><i class="fa fa-bars"></i>statements</a></li>
                            <li><a href="#"><i class="fa fa-download"></i>downloads</a></li>
                        </ul>*@
                    <!-- /Right nav -->
                </div>
                <!-- /Container-->

            </div>
            <!-- /Top Bar -->
            <!-- Main Navigation -->
            <div id="main-nav" class="navbar navbar-default">
                <!-- Container -->
                <div class="container">

                    <!-- header -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="fa fa-bars fa-lg"></span>
                        </button>
                        <a href="@Url.Action("Index","Home")" class="navbar-brand">

                            <img src="~/Content/images/logo.png" alt="EnAutoslogo">

                        </a>
                    </div>
                    <!-- /header-->
                    <!-- nav-collapse -->
                    <div class="navbar-collapse collapse">

                        <!-- Nav Buttons -->
                        <ul class="nav navbar-nav nav-buttons navbar-right">

                            <li><a class="nav-btn bg-2 top-bar-toggle" href="#top-bar" data-custom-toggle="slide" data-class="open" data-target="#top-bar"><span class="symbol"></span></a></li>
                        </ul>
                        <!-- /Nav Buttons -->
                        <!-- Nav Buttons -->
                        <!-- /Nav Buttons -->
                        <!-- Links -->

                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="@Url.Action("Index","Home")"><i class="icon fa fa-home"></i>Inicio</a></li>
                            <li><a href="@Url.Action("Create","Vehicle")"><i class="icon fa fa-dollar"></i>Vender</a></li>

                            <li><a href="@Url.Action("Search","Vehicle")"><i class="icon fa fa-search"></i>Busca tu auto</a></li>
                         
                            <li><a href="@Url.Action("Dealers", "Customer")"><i class="icon fa fa-home"></i>Dealers/Concesionarios</a></li>
                         
                            @Html.Partial("_LoginPartial")


                        </ul>
                        <!-- Links -->
                    </div>
                    <!-- /nav-collapse-->

                </div>
                <!-- /Container-->

            </div>
            <!-- /Main Navigation -->

        </header>
        <!-- /Header
            ================================================== -->
        <!--Content
            ============================================== -->
        
            @RenderBody()
       
        <!-- Footer
         ================================================== -->
        <footer id="footer">

            <!-- Top -->
            <div class="top">

                <!-- Container -->
                <div class="container">

                    <!-- Row -->
                    <div class="row">
                        <!-- Column -->
                        <div class="col-sm-3 col-md-3">
                            <h5>Instragram</h5>
                            <ul id="footer-flickr-stream" class="clearfix photo-stream"></ul>
                        </div>
                        <!-- Column /END -->
                        <!-- Column -->
                        <div class="col-sm-3 col-md-3">
                            <h5>&Uacute;ltimos tweets</h5>
                            <div id="footer-tweets"></div>
                        </div>
                        <!-- Column /END -->
                        <!-- Column -->
                        <div class="col-sm-3 col-md-3">
                            <h5>Informaciones</h5>
                            <ul class="links underline">
                                <li>@Html.ActionLink("Sobre Nosotros", "AboutUs", "Home") </li>

                                <li>@Html.ActionLink("Política de privacidad", "PrivacyPolicy", "Home")</li>

                                <li><a href="#">Terminos &amp; Condiciones</a></li>
                            </ul>
                        </div>
                        <!-- Column /END -->
                        <!-- Column -->
                        <div class="col-sm-3 col-md-3">
                            <h5>Noticias</h5>
                            <p>Obt&eacute;n las &uacute;ltimas noticias y actualizaciones sobre autos.</p>
                            <div class="input-group newsletter-signup">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Registrate</button>
                                </span>
                            </div>
                        </div>
                        <!-- Column /END -->

                    </div>
                    <!-- /Row -->

                </div>
                <!-- /Container -->

            </div>
            <!-- /Top -->
            <!-- Bottom -->
            <div class="bottom">

                <!-- Container -->
                <div class="container">

                    <ul class="social-buttons colored-bg-on-hover round clearfix">
                        <li><a href="https://www.facebook.com/Enautos"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="skype:skype.enautos.1?chat"><i class="fa fa-skype"></i></a></li>
                        <li><a href="https://twitter.com/EnAutos"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://instagram.com/enautos"><i class="fa fa-instagram"></i></a></li>
                    </ul>

                    <span class="copy-text">Copyright &copy; @DateTime.Now.Year EnAutos. Todos Los Derechos Reservados.</span>

                </div>
                <!-- /Container -->

            </div>
            <!-- /Bottom -->
        </footer>
        <!-- /Footer
        ================================================== -->
    </div>
    <!-- /Page Wrapper

    ================================================== -->
    <!-- JavaScript
    ================================================== -->
    @Scripts.Render("~/bundles/typeahead")
    <script src="~/Scripts/jquery.bxslider-rahisified.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/twitterFetcher.js"></script>
    <script src="@Url.Content("~/Scripts/spectragram.custom.js")"></script>
    <script src="~/Scripts/template.js"></script>
    @RenderSection("head", false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53650526-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- /JavaScript
    ================================================== -->
</body>
</html>
