﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-user"></i>@User.Identity.GetUserName()<i class="fa fa-angle-down parent-symbol"></i></a>
        <ul class="dropdown-menu">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()

                <li>
                    <a href="#"><i class="fa fa-gear"></i>Cuenta</a>
                </li>
                <li><a href="@Url.Action("Plans","Customer")" ><i class="fa fa-times"></i>Planes</a> </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Salir</a></li>
            }
        </ul>
    </li>
}
else
{
    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })<i class="icon fa fa-user"></i></li>*@
    <li><a href="@Url.Action("Register","Account")"><i class="icon fa fa-user"></i>Acceder</a></li>
}
