﻿@using System.Globalization

@model PagedList.IPagedList<eCars.WebUI.Models.VehicleViewModel>

@{
    var counter = 1;
}
@foreach (var vehicle in Model)
{

    <li class="col-xs-6 col-sm-4 col-md-4">
        <!-- Product -->
        <div class="product clearfix">
            <div class="image">
                <a href="" class="main">
                    <img src="http://localhost:50734/@vehicle.VehiclePhotos.PhotoThumbnail.First()?width=460&height=460&mode=max" alt="" />
                </a>
                <ul class="additional">
                    @foreach (var photo in vehicle.VehiclePhotos.PhotoThumbnail)
                    {
                        <li>
                            <a href="http://localhost:50734/@photo" data-gal="prettyPhoto[gallery @counter]" title="@vehicle.Make @vehicle.Model @vehicle.Year">
                                <img src="http://localhost:50734/@photo?width=460&height=460&mode=max" alt="" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="title">
                @*<a class="name" href="#">Product Name</a>*@
                @Html.ActionLink(vehicle.Make + " " + vehicle.Model + " " + @vehicle.Year, "Detail", new { id = vehicle.VehicleId }, new { @class = "name" })
                <p class="description">@vehicle.Description</p>
            </div>
            <div class="links">
                <span class="price">
                    @vehicle.Price.ToString("C", vehicle.CurrencyId == 1 ? new CultureInfo("es-DO") : new CultureInfo("en-US"))
                </span>
                <a class="wishlist" href=""><i class="fa fa-heart"></i><span>Notificame</span></a>
                <a class="compare" href="@Url.Action("Detail", "Vehicle", new { id = vehicle.VehicleId })"><i class="fa fa-desktop"></i><span>Ver Detalle</span></a>
            </div>
        </div>
        <!-- /Product -->

    </li>
                    counter++;
}
