﻿@using System.Globalization
@model IEnumerable<eCars.WebUI.Models.PublicationViewModel>

<h5>Para publicar un auto haga clic en el boton Rojo!!!</h5>

<!-- Cart -->
<div class="cart">
   
    <!-- Cart Contents -->
    <table class="cart-contents">

        <thead>
            <tr>
                <th class="hidden-xs">Foto</th>
                <th>Descripci&oacute;n </th>
                
                <th class="hidden-xs">Precio</th>

            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>

                            <td class="image hidden-xs"><img src="~/Content/images/backgrounds/2014-model-s-AboutUS.jpg" alt="carro" /></td>
                            <td class="details">
                                <div class="clearfix">
                                    <div class="pull-left no-float-xs">
                                        <a href="#" class="title">@item.Make @item.Model @item.Year</a>

                                    </div>
                                    <div class="action pull-right no-float-xs">
                                        <div class="clearfix">
                                            <button class="btn btn-primary" id="publishBtn"><i class="fa fa-cloud-upload"></i></button>
                                            <input type="text" class="hidden" id="idPublication" value="@item.PublicationId" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                           
                            <td class="unit-price hidden-xs">
                                <span class="currency"></span>
                                @item.Price.ToString("C", item.CurrencyId == 1 ? new CultureInfo("es-DO") : new CultureInfo("en-US"))
                            </td>

                        </tr>
                    }
                }

            }

        </tbody>

    </table>
    <!-- /Cart Contents -->

    @*<table class="cart-summary">
        <tr>
            <td class="terms">
                <h5><i class="fa fa-info-circle"></i>Publicar</h5>
                <p>Los autos publicados no pueden ser publicados otra vez.</p>
            </td>

        </tr>
    </table>*@


</div>
<!-- /Cart -->
