// ==========================================================
// 	- Description : Bootstrap Theme
// ==========================================================


/* BOOTSTRAP RESETS
------------------------------------*/
.img-thumbnail,
.btn,
.btn-group .btn,
.btn-group .dropdown-menu,
.btn-group .btn,
.btn-group .btn:first-child:not(:last-child),
.btn-group .btn:last-child:not(:first-child),
.table-bordered,
.table-bordered tr:first-child th:first-child,
.table-bordered tr:first-child th:last-child,
.table-bordered tr:last-child td:first-child,
.table-bordered tr:last-child td:last-child,
.input-group .btn,
.input-group .dropdown-menu,
.input-group .form-control,
.input-group .input-group-addon,
.dropdown-menu,
.dropdown-menu .dropdown-submenu .dropdown-menu,
.form .form-control,
.form .btn,
.form-control,
.label,
.badge,
.alert,
.alert .btn,
.progress,
.breadcrumb,
.tooltip .tooltip-inner,
.popover,
.nav-list-panel,
.nav-tabs li > a,
.tabs-below .nav-tabs li > a,
.tabs-right .nav-tabs li > a,
.tabs-left .nav-tabs li > a,
.nav-tabs .dropdown-menu,
.tabs-below .nav-tabs .dropdown-menu,
.nav-pills li a,
.nav-pills .dropdown-menu,
.navbar,
.navbar .dropdown-menu,
.progress-bar, .progress
.pagination li:first-child a, 
.pagination li:first-child span,
.pagination li:last-child a, 
.pagination li:last-child span,
.pager li a:hover,
.pager li a:focus,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-body,
.breadcrumb-arrow li:first-child a,
pre, code,.container .jumbotron {

	@include vendorize(border-radius, 0);
	@include vendorize(box-shadow, none);
	@include vendorize(text-shadow, none);
}


/* BUTTONS
-------------------------------------------------- */

$btn-pad : 8px;

.btn {

    text-transform: capitalize;
    color: #fff;
    border: 0;
	
	&:hover, &:active, &:focus {
		border: none;
		@include vendorize(box-shadow, none);
		outline: none;
		color: #fff;
	}
	
}
.btn-thicker { 
    padding: $btn-pad * 1.5 $btn-pad * 3;
}
.btn-primary { 

	background-color: $color-1; 
	
	&:hover, &:active, &:focus {
		background-color: shade($color-1, 10%);
		color: #fff;
		border: none;
		@include vendorize(box-shadow, none);
		outline: none;
	}
}

.btn-secondary { 

	background-color: tint($color-2, 20%); 

}



.btn-white, .btn-secondary, .btn-color {

  color: #fff;
  
	&:hover { 
		color: #fff;
		@include gradient(linear-gradient, "(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%)");
	}
}

.btn-white {
  background-color: #fff;
  color: $color-2;
  
  &:hover {
    color: $color-2;
  }
}

.btn-outline { 
	color: #fff;
	border: 1px solid #fff;
	
	&:hover, &:focus, &:active{
		background: $color-2;
		color: #fff;
		border: 1px solid #fff;
	}
}


.btn i {
    margin: 0 10px 0 0;
    text-shadow: none;
    font-weight: normal;
    font-size: 1.2em;
}

.btn-default {
    background: #F5F5F5;
    border: 1px solid #ddd;
    color: #666;
    
    &:hover {
      background: #eee;
      border: 1px solid #ddd;
    }
}
.btn-default.no-border { border: none }

.btn-search:after {

  font-family: $icon-font;
  content: "\f002";

}

.split-buttons {
    margin: 0 auto;
    position: relative;
    width: 350px;
}
.split-buttons span {
    background: #323740;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-style: italic;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
	@include vendorize(border-radius, "50%");
	@include vendorize(box-shadow, "0 0 0 5px rgba(0, 0, 0, 0.1)");
}
.split-buttons .btn {
    display: inline-block;
    margin: 0;
	font: bold 16px $title-font;
    padding: 18px 0;
    text-transform: uppercase;
    width: 50%;
	@include vendorize(border-radius, "0");
}

/* TABS
---------------------------------------------------*/

.tab-pane {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fff;
}
.tab-content.no-border .tab-pane {
    padding: 20px 0;
    border: 0;
    background: none;
}
.nav-tabs > li > a {
    color: #333;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-right-width: 0;
    margin: 0;
    background: #FAFAFA;
    font-size: 13px;
    padding: 15px 20px;
	@include vendorize(border-radius, "0");
}
.nav-tabs > li:last-child > a, .nav-tabs > li:last-child.active > a { border-right-width: 1px!important }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-right-width: 0;
    border-top: 2px solid $color-1;
}
.nav-tabs > li > a:hover {
    background: #fff;
    border-color: #ddd;
}

/* MODALS
-------------------------------------------------- */

.modal-content {
	@include vendorize(border-radius, 0);
	@include vendorize(box-shadow, "0 20px 0 -10px rgba(0, 0, 0, 0.1)");
}
.modal-header {

	border: none;
	
	.close { 
		color: #fff;
		margin: 10px 20px 0 0;
		opacity: 0.9;
		font-size:22px;
	}
	.close:hover { opacity: 1}
}

.modal-header .modal-title {
	background : $color-1;
	color: #fff;
	padding:10px 20px;
	@include vendorize(border-radius, 0);

}

/* PROGRESS
-------------------------------------------------- */

.progress { 
  height: 35px;
  &.white-bg {
      background-color: #fff; 
      @include vendorize(box-shadow, "inset 0 0 0 1px #ddd");
  }
  
  .skill {
    font: normal 12px $title-font;
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase;
    
    .val {
      float: right;
      font-style: normal;
      margin: 0 20px 0 0;
    }
    
    .fa {
      margin-right: 10px;
    }
  }
}
.progress-bar { 
  text-align: left;
}



/* PAGINATION
-------------------------------------------------- */

.pagination {

	li {

		a {
			border: none;
			background: none;
      border: 1px solid #ddd;
			padding: 0 14px;
			line-height:35px;
			display:block;
			margin-right: 5px;
			color: $color-2;
      @include vendorize(border-radius, 0!important);
      
			&:hover { background: shade(#fff, 10%); }
			
			@media (max-width: 767px) {
				padding: 0 14px;
				line-height:35px;
			}
		}

		&:first-child a{
			color: #fff;
			background: tint($color-2, 20%);
			font-size:15px;
      border-color: $color-2;
			
			&:hover { background: $color-2; }
		}
		&:last-child a{
			color: #fff;
			background: $color-1;
      border-color: shade($color-1, 20%);
			font-size:15px;
			
			&:hover { background: shade($color-1, 20%); }
		}
	}
	
	&.align-center {
		width: 100%;
		li { 
			display:inline-block;
			a { margin-right: 1px}
		}
	}

}

/* PANELS
-------------------------------------------------- */

.panel-group .panel { margin-bottom: 15px }
.panel-heading { padding: 15px 20px }
.panel-heading .fa {margin-right:7px}

/* JUMBOTRON
-------------------------------------------------- */
.container .jumbotron {
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
}

.jumbotron {

  padding: 60px 40px 40px 40px;
  p{
    font-size: 14px;
    margin: 0 0 20px 0;
  }
  
  h1 {
    font-size: 35px;
    text-transform: capitalize;
    margin: 0 0 25px 0;
    color: #666;
  }
  
  .btn.space {
    margin-right:5px;
  }
}
  

/* TABLE
-------------------------------------------------- */

.table { border: 1px solid #ddd }
.table tbody > tr > td, .table thead > tr > th { padding: 15px }

/* CALLOUTS
-------------------------------------------------- */

.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout h4 { margin: 0 0 5px 0 }
.bs-callout p { margin: 0 }
.bs-callout-warning {
    background-color: #FCF8F2!important;
    border-color: #F0AD4E;
}
.bs-callout-warning h4 { color: #F0AD4E }
.bs-callout-danger {
    background-color: #FDF7F7;
    border-color: #D9534F!important;
}
.bs-callout-danger h4 { color: #D9534F }
.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE!important;
}
.bs-callout-info h4 { color: #5BC0DE }
.bs-callout-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6!important;
}
/* BREADCRUMB
---------------------------------------------------*/

.breadcrumb {
    padding: 0;
    background: none;
    margin: 0;
    display: inline-block;
	@include vendorize(border-radius, "0");
}
.breadcrumb  li {
    line-height: 35px;
    font-size: 12px;
    text-transform: uppercase;
}
.breadcrumb  li  a { color: #888 }
.breadcrumb  li.active { font-weight: 600 }
.breadcrumb  i {
    text-align: center;
    display: inline-block;
    line-height: 35px;
    width: 35px;
    background: #eee;
	@include vendorize(border-radius, "50%");
}

/* PRE
---------------------------------------------------*/

