﻿
@{
    ViewBag.Title = "No Confirmado";
}

<!-- Page Title
================================================== -->
<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay default">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Tu cuenta no est&aacute; confirmada!!!</h2>
                <div class="line"></div>
                
            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- /Page Title
================================================== -->

<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">
        <div class="bs-callout bs-callout-info">
            <p>Verifica tu email.</p>
        </div>

    </div>
</section>
