﻿
@{
    ViewBag.Title = "Confirmado";
}
<!-- Page Title
================================================== -->
<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay default">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Tu cuenta est&aacute; confirmada!!!</h2>
                <div class="line"></div>
                
            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- /Page Title
================================================== -->


<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h2>Ya puedes utilizar todos nuestros servicios.</h2>
        </div>

    </div>
</section>