﻿@model eCars.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Accede";
}

<!-- Page Title
================================================== -->
<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay default">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Accede</h2>
                <div class="line"></div>
                <p>Accede a tu cuenta EnAutos</p>
            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- /Page Title
================================================== -->

<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">

        <!-- Form Block -->
        <div class="form-block clearfix">

            <div class="pull-left col">
                <h4><i class="fa fa-lock"></i>Usuarios Nuevos</h4>
                <p>Al crear una cuenta podras publicar veh&iacute;culos, administrar tus publicaciones, y recibir notificaciones del auto que buscas.</p>
                <a href="@Url.Action("Register","Account")" class="btn btn-primary">Registrar</a>
            </div>

            <div class="pull-right col">
                <h4><i class="fa fa-user"></i>Accede</h4>
                @using (@Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, null, new { @class = "text-danger" })

                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Usuario o correo", @type = "text" })
                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseña", @type = "password" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                    <div class="checkbox space-b">
                        <label>
                            @Html.CheckBoxFor(model => model.RememberMe, new { @type = "checkbox" }) Recordar.
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Acceder</button>
                }
            </div>
            <!-- /Form Block -->
        </div>
    </div>
    <!-- /Container -->

</section>
<!-- /Content Block
================================================== -->
