﻿@model string

@{
    ViewBag.Title = "Confirma tu cuenta";
}

<!-- Page Title
================================================== -->
<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay default">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Confirma tu cuenta</h2>
                <div class="line"></div>
                <p>Enviamos un email a @ViewBag.Email</p>
            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- /Page Title
================================================== -->
<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h2>Para confirmar tu cuenta, sigue las instrucciones del email que enviamos.</h2>
        </div>

    </div>
</section>
