﻿@model eCars.WebUI.Models.RegisterViewModel

<!-- Page Title
      ================================================== -->
<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay default">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>@ViewBag.Title</h2>
                <div class="line"></div>
                <p>Crea tu cuenta Enautos.</p>
            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- /Page Title
================================================== -->
<!-- Page Info
================================================== -->
@*<section class="page-info-block">

        <!-- Container -->
        <div class="container">
            <!-- Page Info -->
            <div class="page-info clearfix">
                <!-- Breadcrumb -->
                <ol class="breadcrumb pull-left">
                    <li><a href="#"><i class="fa fa-home"></i></a></li>
                    <li><a href="#">bread</a></li>
                    <li class="active">crumbs</li>
                </ol>
                <!-- /Breadcrumb -->
                <!-- Search -->
                <div class="search page-search pull-right">
                    <form method="get" action="#">
                        <fieldset class="wrapper">
                            <input type="text" placeholder="search anything." name="search" id="search" />
                            <button type="submit" class="search-btn">search</button>
                            <span class="toggle" data-custom-toggle="" data-target=".page-search" data-class="open"></span>
                        </fieldset>
                    </form>
                </div>
                <!-- /Search -->
                <!-- Links -->
                <ul class="page-links pull-right">
                    <li><a href="#"><i class="fa fa-share bg-3"></i></a></li>
                    <li><a href="#"><i class="fa fa-print bg-2"></i></a></li>
                </ul>
                <!-- /Links -->

            </div>
            <!-- /Page-info -->
        </div>
        <!-- /Container -->

    </section>*@
<!-- /Page Info Block
================================================== -->
<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">

        <!-- Form Block -->
        <div class="form-block clearfix">

            <div class="pull-left col">
                <h4><i class="fa fa-unlock"></i>Estás regitrado ?</h4>
                <p>Al crear una cuenta podras publicar veh&iacute;culos, administrar tus publicaciones, y recibir notificaciones del auto que buscas.</p>
                @Html.ActionLink("Accede", "Login", "", new { @class = "btn btn-primary" })
            </div>

            <div class="pull-right col">
                <h4><i class="fa fa-user"></i>Usuarios Nuevos</h4>
                @using (@Html.BeginForm("Register", "Account",FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "Verifique los campos", new { @class = "text-danger" })
                    
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Nombre", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                    
                    @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control", @placeholder = "Apellido", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Lastname, null, new { @class = "text-danger" })
                    
                    @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", @placeholder = "Apellido", @type="date"})
                    @Html.ValidationMessageFor(model => model.Lastname, null, new { @class = "text-danger" })

                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Correo Electrónico", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                    
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Usuario", @type = "text" })
                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                    
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseña", @type = "password" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                    
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmar Contraseña", @type = "password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                    
                    @Html.TextBoxFor(model => model.Company, new { @class = "form-control", @placeholder = "Compañia", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Company, null, new { @class = "text-danger" })
                    
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Teléfono", @type = "number" })
                    @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "text-danger" })
                    
                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Movíl", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Mobile, null, new { @class = "text-danger" })
                    
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Dirección, ", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })

                    <div class="checkbox space-b">
                        <label>
                            @Html.CheckBoxFor(model => model.IsDealer) Es Dealer/Concesionario
                        </label>
                    </div>

                    <div class="checkbox space-b">
                        <label>
                            <input type="checkbox">  Estoy de acuerdo con las <a href="#">Pol&iacute;tica de privacidad</a> y <a href="#">los terminos y condiciones</a>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear cuenta</button>
                }
            </div>
        </div>
        <!-- /Form Block -->

    </div>
    <!-- /Container -->

</section>
<!-- /Content Block
================================================== -->
