﻿
@{
    ViewBag.Title = "enAutos.com :: Nosotros";
}


<!-- Page Title
 ================================================== -->
<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Sobre Nosotros</h2>
                <div class="line"></div>
                <p>Somos un equipo que innova.</p>
            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- /Page Title
================================================== -->

<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">

            <!-- Column -->
            <div class="col-sm-6 col-md-6">

                <img src="~/Content/images/backgrounds/2014-model-s-AboutUS.jpg" class="width-95pc fullw-xs" alt="carro">

            </div>
            <!-- /Column -->
            <!-- Column -->
            <div class="col-sm-6 col-md-6 vspace-xs">

                <h4>El mejor servicio</h4>
                <p><span class="dropcap">M</span>&aacute;s que autos, somos tu aliado, te hacemos la vida m&aacute;s f&aacute;cil a la hora de buscar ese auto que tanto quieres y vendemos tu auto m&aacute;s r&aacute;pido de lo podr&iacute;as imaginar. En enAutos.com nos encargamos de buscar y vender tu auto.</p>

                <!-- Nested Row -->
                <div class="row">

                    <!-- Column -->
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="icon-list">
                            <li><i class="fa fa-check"></i>Te notificamos del auto que buscas</li>
                            <li><i class="fa fa-check"></i>Integrado con las redes sociales</li>
                            <li><i class="fa fa-check"></i>R&aacute;pido</li>
                            <li><i class="fa fa-check"></i>Planes Gratis</li>
                            <li><i class="fa fa-check"></i>F&aacute;cil</li>
                        </ul>
                    </div>
                    <!-- /Column -->
                    <!-- Column -->
                  
                    <!-- /Column -->

                </div>
                <!-- /Nested Row -->

            </div>
            <!-- /Column -->
        </div>
        <!-- Row /END -->

    </div>
    <!-- /Container -->

</section>
<!-- /Content Block
================================================== -->

