﻿@using System.Globalization
@model IEnumerable<eCars.WebUI.Models.VehicleViewModel>


<!-- Title -->
<div class="section-title">
    <h2>Destacados</h2>
    <div class="line color-1-bg"></div>
    <p>Los autos mas detacados de EnAutos</p>
</div>
<!-- Title /END -->
<!-- Portfolio Slider -->
<div class="portfolio-slider no-js">

    <!-- BxSlider -->
    <ul class="bxslider" id="portfolio" data-call="bxslider" data-options="{parentSelector:'.portfolio-slider', removeParentClass:'no-js', slideMargin:30, nextText:'', prevText:'', pager:false, controls:true}" data-breaks="[{screen:0, slides:1}, {screen:460, slides:2}, {screen:768, slides:3}, {screen:1200, slides:4}]">

        @{
            foreach (var vehicle in Model)
            {
                <li>
                    <!-- Project -->
                    <div class="project">
                        <img alt="photo" src="http://localhost:50734//@vehicle.VehiclePhotos.PhotoThumbnail.First()?width=263&height=183&mode=max">
                        <!-- Overlay -->
                        <div class="overlay">
                            <div class="v-center">
                                <div class="center">
                                    <a href="http://localhost:50734//@vehicle.VehiclePhotos.PhotoThumbnail.First()" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                                    <h4>@vehicle.Make @vehicle.Model @vehicle.Year</h4>
                                    <span>@vehicle.Price.ToString("C", vehicle.CurrencyId == 1 ? new CultureInfo("es-DO") : new CultureInfo("en-US"))</span>
                                </div>
                            </div>
                        </div>
                        <!-- /Overlay -->
                    </div>
                    <!-- /Project -->
                </li>
            }
        }

    </ul>
    <!-- BxSlider -->

</div>
<!-- /Portfolio Slider -->