﻿@{
    ViewBag.Title = "Inicio";
}

<!-- Content Block
       ================================================== -->
<section class="intro-block page-bg">

    <!-- Overlay -->
    <div class="overlay">

        <!-- Container -->
        <div class="container">

            <!-- Text Slider -->
            <div class="text-slider no-js">
                <!-- Bxslider -->
                <ul class="bxslider" id="text-slider" data-call="bxslider" data-options="parentSelector:'.text-slider', removeParentClass:'no-js', prevText:'', nextText:'', pager:true, controls:false, mode:'horizontal', auto:true, autoReload:true">
                    <li>
                        <div class="slide">
                            <h2>tu veh&iacute;culo puede estar aqu&iacute;.</h2>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <h2>busca tu carro, es super fac&iacute;l.</h2>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <h2>vende tu autom&oacute;vil en minutos</h2>
                        </div>
                    </li>
                    <li>
                        <div class="slide">
                            <h2>la mejor p&aacute;gina de venta y b&uacute;squeda de autos.</h2>
                        </div>
                    </li>
                </ul>
                <!-- /Bxslider -->

                <p class="meta">EnAutos.com vende y busca tu autom&oacute;vil en minutos!.</p>

                <!-- Buttons -->
                <div>
                    <a href="@Url.Action("Login","Account")" class="scroll-to btn btn-primary"><i class="fa fa-sign-in"></i>Acceder</a>
                    <a href="@Url.Action("Search","Vehicle")" class="scroll-to btn btn-white"><i class="fa fa-search"> </i>Busca tu auto</a>
                </div>
                <!-- Buttons -->

            </div>
            <!-- /Text Slider -->
        </div>
        <!-- /Container -->

    </div>
    <!-- /Overlay -->

</section>
<!-- /Content Block
================================================== -->
<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Column -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="service-box no-border tts-1">
                    <i class="icon fa fa-cloud-upload color-1-bg tts-1-target"></i>
                    <h4 class="u-case">Sube tus automoviles gratis</h4>
                    <p>Puedes subir tu auto inmediatamente, hasta 16 fotos por cada auto, vende y busca tus autos aqu&iacute;.</p>

                </div>

            </div>
            <!-- /Column -->
            <!-- Column -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="service-box no-border tts-1">
                    <i class="icon fa fa-smile-o color-1-bg tts-1-target"></i>
                    <h4 class="u-case">Lo que ofrecemos</h4>
                    <p>Notificaciones del auto que buscas, compartelo en redes sociales, asegurate de ser el #1 en las b&uacute;squedas.</p>

                </div>
            </div>
            <!-- /Column -->
            <!-- Column -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="service-box no-border tts-1">
                    <i class="icon fa fa-shopping-cart color-1-bg tts-1-target"></i>
                    <h4 class="u-case">Vende y busca tu autom&oacute;vil</h4>
                    <p>Busca todos los autos que quieras, el mejor precio, los mejores autos.</p>

                </div>
            </div>
            <!-- /Column -->
        </div>
        <!-- /Row-->

    </div>
    <!-- /Container -->

</section>
<!-- /Content Block
================================================== -->
<!-- Content Block
================================================== -->
<section class="content-block page-bg dark-bg">

    <!-- Overlay -->
    <div class="overlay default">

        <!-- Container -->
        <div class="container">
            @{
                Html.RenderAction("Highlights");
            }

        </div>
        <!-- /Container -->

    </div>
    <!-- /Overlay -->

</section>
<!-- /Content Block
================================================== -->
<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">


        <!-- Title -->
        <div class="section-title">
            <h2>Planes de pago</h2>
            <div class="line color-1-bg"></div>
            <p>Para los que quieren agregar mas a nuestro excelente servicio. precios en RD$, impuestos incluidos.</p>
        </div>
        <!-- Title /END -->
        <!-- Row -->
        <div class="row">

            <!-- Column -->
            <div class="col-sm-3 col-md-3 tts-1">

                <!-- Plan -->
                <div class="price-plan featured">

                    <div class="header">
                        <h4 class="title">B&aacute;sico</h4>
                    </div>

                    <div class="price-box">
                        <h2 class="price tts-1-target">Gratis</h2>
                    </div>

                    <ul class="features">
                        <li><span class="badge">4</span> images por auto</li>
                        <li><span class="badge">30</span> minutos top de b&uacute;queda <span class="badge">1</span> auto</li>
                        <li>Notificamos usuarios (Email)</li>
                        <li><span class="badge">3</span> dias de anuncio</li>
                        <li><span class="badge">1</span> auto m&aacute;ximo</li>
                    </ul>

                    <div class="footer">
                        <a href="@Url.Action("Plans","Customer")" class="btn btn-color">Seleccionar</a>
                    </div>

                </div>
                <!-- /Plan -->
            </div>
            <!-- /Column -->
            <!-- Column -->
            <div class="col-sm-3 col-md-3 tts-1">

                <!-- Plan -->
                <div class="price-plan">

                    <div class="header">
                        <h4 class="title">Standard</h4>
                    </div>

                    <div class="price-box">
                        <h2 class="price tts-1-target">500</h2>
                    </div>

                    <ul class="features">
                        <li><span class="badge">8</span> Imagenes por auto</li>
                        <li><span class="badge">1</span> hora top de b&uacute;queda <span class="badge">1 </span> auto</li>
                        <li>Notificamos usuarios (Email)</li>
                        <li><span class="badge">14</span> dias de anuncio</li>
                        <li><span class="badge">1</span> auto m&aacute;ximo</li>

                    </ul>

                    <div class="footer">
                        <a href="@Url.Action("Plans","Customer")" class="btn btn-color">Seleccionar</a>
                    </div>

                </div>
                <!-- /Plan -->
            </div>
            <!-- /Column -->
            <!-- Column -->
            <div class="col-xs-12 col-sm-3 col-md-3 tts-1">

                <!-- Plan -->
                <div class="price-plan">

                    <div class="header">
                        <h4 class="title">Profesional</h4>
                    </div>

                    <div class="price-box">
                        <h2 class="price tts-1-target">1,000</h2>
                    </div>

                    <ul class="features">
                        <li><span class="badge">12</span> Imagenes por auto</li>
                        <li><span class="badge">2</span> horas top de b&uacute;squeda <span class="badge">2</span> autos</li>
                        <li>Notificamos usuarios <span class="meta">(Email)</span></li>
                        <li><span class="badge">30</span> dias de anuncio</li>
                        <li><span class="badge">2</span> autos m&aacute;ximo</li>
                    </ul>

                    <div class="footer">
                        <a href="@Url.Action("Plans","Customer")" class="btn btn-color">Seleccionar</a>
                    </div>

                </div>
                <!-- /Plan -->
            </div>
            <!-- /Column -->
            <!-- Column -->
            <div class="col-xs-12 col-sm-3 col-md-3 tts-1">

                <!-- Plan -->
                <div class="price-plan">

                    <div class="header">
                        <h4 class="title">Enterprise</h4>
                    </div>

                    <div class="price-box">
                        <h2 class="price tts-1-target">1,500</h2>
                    </div>

                    <ul class="features">
                        <li><span class="badge">16</span> Imagenes por auto</li>
                        <li><span class="badge">5</span> horas top de b&uacute;squeda <span class="badge">5</span> autos</li>
                        <li>Notificamos usuarios (Email)</li>
                        <li><span class="badge">30</span> dias de anuncio</li>
                        <li><span class="badge">5</span> autos m&aacute;ximo</li>
                    </ul>

                    <div class="footer">
                        <a href="@Url.Action("Plans","Customer")" class="btn btn-color">Seleccionar</a>
                    </div>

                </div>
                <!-- /Plan -->
            </div>
            <!-- /Column -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->
</section>
<!-- /Content Block
================================================== -->
<!-- Content Block
================================================== -->
<section class="content-block default-bg">
    <!-- Container -->
    <div class="container">

        <!-- Title -->
        <div class="section-title">
            <h2>Quieres m&aacute;s informaci&oacute;n</h2>
            <div class="line"></div>
            <p>Escribenos.</p>
        </div>
        <!-- Title /END -->
        <!-- Contact Form -->
        <div class="contact-form home-contact">
            
            <!-- Wrapper -->
            <div class="clearfix">

                <!-- Left Col -->
                <form id="emailForm" action="" role="form">
                    <div class="pull-left col">

                        <input type="text" class="form-control" id="nametxt" placeholder="Nombre completo">
                        <input type="text" class="form-control" id="emailtxt"placeholder="E-Mail">

                        <!-- Map -->
                        <div class="map">
                            <div class="overlay">
                                <div class="link">
                                    <a href="#" data-toggle="modal" data-target="#map-modal"><i class="fa fa-expand"></i>Ver mapa</a>
                                </div>
                            </div>
                        </div>
                        <!-- /Map -->
                    </div>
                    <!-- /Left Col -->
                    <!-- Right Col -->
                    <div class="pull-right col">

                        <input type="text" class="form-control" id="phonetxt" placeholder="Tel&eacute;fono.">
                        <input type="text" class="form-control" id="subjecttxt" placeholder="Asunto">
                        <textarea class="form-control" id="messagetxt" placeholder="Tu Mensaje"></textarea>
                        <button type="submit" class="btn btn-primary" id="homeEmailbtn">Mandar Email</button>

                    </div>
                </form>
                
                <!-- /Right Col -->


            </div>
            <!-- /Wrapper -->
            <!-- Map Modal -->
            <div id="map-modal" class="map-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Our Map Location</h4>
                        </div>
                        <div class="modal-body">
                            <iframe id="gmap" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Facebook+Inc.,+Earlham+Street,+London,+United+Kingdom&amp;aq=4&amp;oq=facebook&amp;sll=37.0625,-95.677068&amp;sspn=38.963048,56.513672&amp;ie=UTF8&amp;hq=Facebook+Inc.,+Earlham+Street,&amp;hnear=London,+United+Kingdom&amp;t=m&amp;cid=7509567643069030052&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                            <script type="text/javascript">
                                // Delay loading iframe for better performance
                                var iframe = document.getElementById('gmap');
                                var src = iframe.src;
                                iframe.src = '';
                                window.onload = function () { iframe.src = src; }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Map Modal -->

        </div>
        <!-- /Contact Form -->

    </div>
    <!-- /Container -->
</section>
<!-- /Content Block
================================================== -->
<script src="@Url.Content("~/Scripts/vehicleHome.js")"></script>