﻿@{
    ViewBag.Title = "Planes";
}
<!-- Page Title
      ================================================== -->
<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Plan B&aacute;sico Activado</h2>
                <div class="line"></div>
                <p>Ya puedes subir tu auto </p>


            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- /Page Title
    ================================================== -->
<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row" id="planDiv">


            <div class="bs-callout bs-callout-warning">
                <p>Este plan tiene 1 auto permitido con un m&aacute;ximo de 3 dias de duraci&oacute;n.</p>
            </div>
        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->
</section>
<!-- /Content Block
================================================== -->
