﻿<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Forma de pago</h2>
                <div class="line"></div>
                <p>Aqu&iacute; elegies la duraci&oacute;n de tus publicaciones</p>


            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- Content Block
================================================== -->
<section class="content-block page-bg">

    <!-- Overlay -->
    <div class="overlay tint">

        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">

                <div id="main-col" class="col-sm-8 col-md-8">
                    <h4 class="c-case">Activar Planes de Pago</h4>
                    <p><span class="dropcap">P</span>ara activar el plan solo tiene que llamarnos o hacer un deposito a nuestra cuenta. Detalles</p>

                    <!-- Nested Row -->
                    <div class="row">

                        <!-- Column -->
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <ul class="icon-list">
                                <li><i class="fa fa-check"></i>Cuenta Banco Popular : 782169387</li>
                                <li><i class="fa fa-check"></i>Enviar nombre de usuario</li>
                                <li><i class="fa fa-check"></i>Enviar nombre del plan</li>
                                <li><i class="fa fa-check"></i>Nosotros enviaremos un correo de constancia de inmediato</li>
                                <li><i class="fa fa-check"></i>Nosotros le contactaremos v&iacute;a telefon&iacute;ca</li>

                            </ul>
                        </div>
                        <!-- /Column -->
                    </div>
                    <!-- /Nested Row -->

                    <hr />

                    <h4 class="c-case">Que debe tener en cuenta</h4>

                    <p><span class="dropcap">A</span>la hora de hacer un deposito verifique que sea a nombre de <em>EnAutos</em> </p>
                    <blockquote>
                        Luego del pago le contactaremos dentro de 10 minutos o menos.
                    </blockquote>
                </div>
                <!-- Column /END-->

            </div>
            <!-- /Row-->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->

</section>
<!-- /Content Block
================================================== -->
<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">

        <!-- Title -->
        <div class="section-title">
            <h2>Contactenos</h2>
            <div class="line"></div>
            <p>El Brisal, manzana #21. Santo domingo este.</p>
        </div>
        <!-- Title /END -->
        <!-- Split Buttons -->
        <div class="split-buttons">
            <a class="btn btn-lg btn-primary">809.480.0860</a><a class="btn btn-lg btn-secondary">miauto@enautos.com</a>
            <span>o</span>
        </div>
        <!-- /Split Buttons -->

    </div>
    <!-- /Container -->
</section>
<!-- /Content Block
================================================== -->
