﻿@{
    ViewBag.Title = "EnAutos.com :: Dealers";
}


<!-- Page Wrapper
 ================================================== -->
<div id="page-wrapper">


    <!-- Page Title
    ================================================== -->
    <section class="page-title dark-bg page-bg">
        <!-- Overlay -->
        <div class="overlay default">
            <!-- Container -->
            <div class="container">

                <!-- Title -->
                <div class="section-title">
                    <h2>Dealers &amp; Concesionario</h2>
                    <div class="line"></div>
                    <p>dealers y concesionario que publican en EnAutos</p>
                </div>
                <!-- Title /END -->
            </div>
            <!-- /Container -->
        </div>
        <!-- /Overlay -->
    </section>
    <!-- /Page Title
    ================================================== -->

    <!-- Content Block
    ================================================== -->
    <section class="content-block default-bg">

        <!-- Container -->
        <div class="container">
            <!-- Filter -->
            <ul class="portfolio-filter">
                <li class="active all"><a href="#">Todos</a></li>
                @*<li class="web"><a href="#">web</a></li>
                <li class="marketing"><a href="#">marketing</a></li>
                <li class="branding"><a href="#">branding</a></li>
                <li class="graphics"><a href="#">graphics</a></li>*@
            </ul>
            <!-- /Filter -->
            <!-- Portfolio Grid-->
            <ul class="portfolio-grid row space-b">

                @{
                    Html.RenderAction("GetDealers");
                }
                <!-- Column -->
               
                <!-- Column /END -->
                @*<!-- Column -->
                <li data-type="graphics" data-id="id-2" class="col-xs-12 col-sm-4 col-md-4">
                    <div class="project">
                        <img alt="photo" src="images/portfolio/pic2.jpg">
                        <div class="overlay">

                            <div class="v-center">
                                <div class="center">

                                    <a href="images/portfolio/pic2.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                                    <h4>project title name</h4>
                                    <span>category name</span>

                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <!-- Column /END -->
                <!-- Column -->
                <li data-type="graphics" data-id="id-3" class="col-xs-12 col-sm-4 col-md-4">
                    <div class="project">

                        <img alt="photo" src="images/portfolio/pic3.jpg">

                        <div class="overlay">

                            <div class="v-center">
                                <div class="center">
                                    <a href="images/portfolio/pic3.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                                    <h4>project title name</h4>
                                    <span>category name</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <!-- Column /END -->
                <!-- Column -->
                <li data-type="marketing" data-id="id-4" class="col-xs-12 col-sm-4 col-md-4">
                    <div class="project">
                        <img alt="photo" src="images/portfolio/pic4.jpg">

                        <div class="overlay">

                            <div class="v-center">
                                <div class="center">
                                    <a href="images/portfolio/pic4.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                                    <h4>project title name</h4>
                                    <span>category name</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <!-- Column /END -->
                <!-- Column -->
                <li data-type="branding" data-id="id-5" class="col-xs-12 col-sm-4 col-md-4">
                    <div class="project">
                        <img alt="photo" src="images/portfolio/pic5.jpg">

                        <div class="overlay">

                            <div class="v-center">
                                <div class="center">
                                    <a href="images/portfolio/pic5.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                                    <h4>project title name</h4>
                                    <span>category name</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <!-- Column /END -->
                <!-- Column -->
                <li data-type="graphics" data-id="id-6" class="col-xs-12 col-sm-4 col-md-4">
                    <div class="project">
                        <img alt="photo" src="images/portfolio/pic6.jpg">

                        <div class="overlay">
                            <div class="v-center">
                                <div class="center">
                                    <a href="images/portfolio/pic6.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                                    <h4>project title name</h4>
                                    <span>category name</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <!-- Column /END -->
                <!-- Column -->
                <li data-type="web" data-id="id-7" class="col-xs-12 col-sm-4 col-md-4">
                    <div class="project">
                        <img alt="photo" src="images/portfolio/pic7.jpg">

                        <div class="overlay">

                            <div class="v-center">
                                <div class="center">
                                    <a href="images/portfolio/pic7.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                                    <h4>project title name</h4>
                                    <span>category name</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <!-- Column /END -->
                <!-- Column -->
                <li data-type="branding" data-id="id-8" class="col-xs-12 col-sm-4 col-md-4">
                    <div class="project">
                        <img alt="photo" src="images/portfolio/pic8.jpg">

                        <div class="overlay">

                            <div class="v-center">
                                <div class="center">
                                    <a href="images/portfolio/pic8.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                                    <h4>project title name</h4>
                                    <span>category name</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <!-- Column /END -->
                <!-- Column -->
                <li data-type="marketing" data-id="id-9" class="col-xs-12 col-sm-4 col-md-4">
                    <div class="project">
                        <img alt="photo" src="images/portfolio/pic9.jpg">

                        <div class="overlay">

                            <div class="v-center">
                                <div class="center">
                                    <a href="images/portfolio/pic9.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                                    <h4>project title name</h4>
                                    <span>category name</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>*@
                <!-- Column /END -->

            </ul>
            <!-- /Portfolio -->
            <!-- Pagination -->
            <ul class="pagination no-margin-y">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            <!-- /Pagination -->
        </div>
        <!-- /Container -->
    </section>
    <!-- /Content Block

    </div>
    <!-- /Page Wrapper
    ================================================== -->
    
    <!-- JavaScript
    ================================================== -->

    <script type="text/javascript">

        $(document).ready(function () {

            // Portfolio script
            var $portfolioClone = $(".portfolio-grid").clone();
            $(".portfolio-filter a").click(function (e) {

                $(this).parent().removeClass("active").siblings().removeClass("active");

                var $filter = $(this).parent().attr("class");

                if ($filter == "all") {
                    var $filteredPortfolio = $portfolioClone.find("li");
                } else {
                    var $filteredPortfolio = $portfolioClone.find("li[data-type~=" + $filter + "]");
                }

                $(".portfolio-grid").quicksand($filteredPortfolio, function () { $("a[data-gal^='prettyPhoto']").prettyPhoto({ hook: 'data-gal', show_title: false }) });


                $(this).parent().addClass("active");
                e.preventDefault();

            });

        });
    </script>
