﻿@model IEnumerable<eCars.WebUI.Models.CustomerViewModel>


@if (Model.Any())
{
    foreach (var customer in Model)
    {
        <li data-type="web" data-id="id-1" class="col-xs-12 col-sm-4 col-md-4">
            <div class="project">
                <img alt="photo" src="http://localhost:50734/content/images/backgrounds/2014-model-s.jpg?width=460&height=460&mode=max">
                <div class="overlay">
                    <div class="v-center">
                        <div class="center">
                            <a href="http://localhost:50734/content/images/backgrounds/2014-model-s.jpg?width=460&height=460&mode=max" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                            <h4>
                                    @if (customer.IsDealer)
	                                {
		                                @customer.CompanyName
	                                }else
	                                {
                                        @customer.Name @customer.Lastname;  
	                                }
                            </h4>
                            <span>Tel. @Html.DisplayFor(a => customer.Phone)</span>
                            <span>Cel. @Html.DisplayFor(a => customer.Mobile)</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
}
