﻿@model IEnumerable<eCars.Domain.Entities.Plan>



<!-- Column -->
@{
    var counter = 0;

}

@foreach (var item in Model)
{
    <div class="col-sm-3 col-md-3 tts-1">

        <!-- Plan -->
        <div class="price-plan">

            <div class="header">
                <h4 class="title">@item.Name</h4>
            </div>

            <div class="price-box">
                <h2 class="price tts-1-target"> @(item.Price > 0 ? item.Price.ToString("N") : "Gratis") </h2>
            </div>

            <ul class="features">
                <li><span class="badge">@item.NumberOfImages</span> images por auto</li>
                <li><span class="badge">@item.SearchRankingMinutes</span>@((item.SearchRankingMinutes > 1) ? " horas" : " hora") top de b&uacute;queda <span class="badge">@item.NumberVehiclesAllowed</span>@(item.NumberVehiclesAllowed > 1 ? " autos" : " auto") </li>
                <li>Notificamos usuarios (Email)</li>
                <li><span class="badge">@item.AdvertisingDurationHours</span> dias de anuncio</li>
                <li><span class="badge">@item.NumberVehiclesAllowed</span>@(item.NumberVehiclesAllowed > 1 ? " autos máximo" : " auto máximo")  </li>
            </ul>

            <div class="footer">
                @Html.ActionLink("Seleccionar", "ChoosePlan", new { planId = @item.PlanId }, new { @class = "btn btn-color" })
                <input type="text" id="planIdvalue_@counter" class="hidden" value="@item.PlanId" />
            </div>

        </div>
        <!-- /Plan -->
    </div>
}



<!-- /Column -->
<div>
    <div class="bs-callout bs-callout-warning">
        <p>Precios en pesos Dominicanos RD$. Impuestos incluidos</p>
    </div>
</div>
