﻿@{
    ViewBag.Title = "Planes";
}
<!-- Page Title
      ================================================== -->
<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Selecciona un plan</h2>
                <div class="line"></div>
                <p>Aqu&iacute; elegies la duraci&oacute;n de tus publicaciones</p>


            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- /Page Title
    ================================================== -->
<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row" id="planDiv">
            <form>
                @{
                    Html.RenderAction("GetPlan");
                }
            </form>


        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->
</section>
<!-- /Content Block
================================================== -->
<script>

    //$('#chooselink_0').click(function (ex) {
    //    ex.preventDefault();
    //    selectedPlan($('#planIdvalue_0').val())
    //});

    //$('#chooselink_1').click(function (ex) {
        
    //    ex.preventDefault();
    //    selectedPlan($('#planIdvalue_1').val())

    //});
    //$('#chooselink_2').click(function (ex) {
        
    //    ex.preventDefault();
    //    selectedPlan($('#planIdvalue_2').val())
      
    //});
    //$('#chooselink_3').click(function (ex) {

    //    ex.preventDefault();
    //    selectedPlan($('#planIdvalue_3').val())
    
    //});

    //function selectedPlan(planId) {

    //    if (planId == 1) {            
    //        $.ajax({
    //            type: 'GET',
    //            url: 'ChoosePlan',
    //            contentType: "application/json; charset=utf-8",
    //            data: { planId : planId },

    //            success: function (data) {
    //                alert(JSON.stringify(data));
    //            },

    //            error: function (ex) {
    //                alert('Failed to retrieve model' + ex);
    //            }
    //        });
    //    } else {
    //        console.log(planId+"else");
    //        $.ajax({
    //            type: 'GET',
    //            url: 'ChoosePaymentPlan',
               
    //            success: function (data) {
    //                $('#planDiv').html(data);
    //            },
    //            error: function (ex) {
    //                alert('Failed to retrieve model' + ex);
    //            }
    //        });
    //    }
    //}
</script>