﻿<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Debe crear un usuario</h2>
                <div class="line"></div>
                <p>Para seleccionar un plan debe crear un usuario.</p>
            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>