﻿@using System.Web.Optimization
@model eCars.WebUI.Models.VehicleViewModel

@{
    ViewBag.Title = "enAutos.com :: Agregar";
}

@Styles.Render("~/Content/jQuery.FileUpload/css/jquery.fileupload.css")
@Styles.Render("~/Content/jQuery.FileUpload/css/jquery.fileupload-ui.css")

<!-- Page Wrapper
================================================== -->
<div id="page-wrapper">

    <!-- Page Title
    ================================================== -->
    <section class="page-title dark-bg page-bg">
        <!-- Overlay -->
        <div class="overlay">
            <!-- Container -->
            <div class="container">

                <!-- Title -->
                <div class="section-title">
                    <h2>Agrega tu auto</h2>
                    <div class="line"></div>
                    <p>Agrega todos los autos que quieras seg&uacute;n tu plan.</p>
                </div>
                <!-- Title /END -->
            </div>
            <!-- /Container -->
        </div>
        <!-- /Overlay -->
    </section>
    <!-- /Page Title
    ================================================== -->
    <!-- Content Block
    ================================================== -->
    <section class="content-block default-bg">

        <!-- Container -->
        <div class="container">
            <!-- Tab Nav -->
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a data-toggle="tab" href="#formcarcreate">Auto</a></li>
                <li class="" id="carphototab"><a data-toggle="tab" href="#carphotos">Fotos</a></li>
                <li class="" id="formpublishtab"><a data-toggle="tab" href="#formpublish">Publicar</a></li>
            </ul>
            <!-- /Tab Nav -->
            <div class="tab-content" id="myTabContent">
                <div id="formcarcreate" class="tab-pane fade active in">
                    <div class="form-block clearfix">
                        <!-- Form -->
                        @using (Ajax.BeginForm("Create", new AjaxOptions { UpdateTargetId = "" }))
                        {
                            <div class="pull-left col">
                                <h4><i class="fa fa-cloud-upload"></i>Crear autom&oacute;vil</h4>
                                <hr />


                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                @Html.LabelFor(model => model.Make, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Make, Model.Makes, "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Make, null, new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Model, "Seleccione", new { @class = "control-label" })
                                @Html.DropDownList("MakeAndModelId", new SelectList(string.Empty, "Value", "Text"), "Seleccione un modelo", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MakeAndModelId)


                                @Html.LabelFor(model => model.Year, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Year, null, new { @class = "form-control", @type = "number", @max = DateTime.Now.Year + 1 })
                                @Html.ValidationMessageFor(model => model.Year, null, new { @class = "text-danger" })


                                @Html.LabelFor(model => model.CurrencyId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.CurrencyId, Model.Currencies, "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CurrencyId, null, new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Price, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Price, null, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(model => model.Price, null, new { @class = "text-danger" })



                                @Html.LabelFor(model => model.MotorId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.MotorId, Model.Motors, "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MotorId, null, new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Cilinders, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Cilinders, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(model => model.Cilinders)


                                @Html.LabelFor(model => model.TransmissionId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.TransmissionId, Model.Transmission, "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TransmissionId, null, new { @class = "text-danger" })


                            </div>

                            <div class="pull-right col">

                                <h4><i class="fa fa-plus"></i>Datos Adicionales</h4>
                                <hr />

                                @Html.LabelFor(model => model.FuelId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.FuelId, Model.Fuels, "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FuelId, null, new { @class = "text-danger" })


                                @Html.LabelFor(model => model.DriveTrainId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.DriveTrainId, Model.DriveTrains, "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DriveTrainId, null, new { @class = "text-danger" })


                                @Html.LabelFor(model => model.VehicleConditionId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.VehicleConditionId, Model.Conditions, "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.VehicleConditionId, null, new { @class = "text-danger" })

                                @Html.LabelFor(model => model.StateId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.StateId, Model.States, "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StateId, null, new { @class = "text-danger" })




                                @Html.LabelFor(model => model.TotalSeating, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.TotalSeating, null, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(model => model.TotalSeating)

                                
                                @Html.LabelFor(model => model.ColorExteriorId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ColorExteriorId, Model.Colors, "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ColorExteriorId)
                                

                                @Html.LabelFor(model => model.ColorInteriorId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ColorInteriorId, Model.Colors, new { @class = "form-control "})
                                @Html.ValidationMessageFor(model => model.ColorInteriorId)

                                @Html.LabelFor(model => model.Tags, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Tags, null, new { @class = "form-control", @data_role = "tagsinput", @maxlength = 350, @placeholder = "Ej: xenon, luces led" })
                                <br />
                                @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.Description, new { @cols = "3", @rows = "3", @class = "form-control ", @type = "textarea", @maxlength = 450 })
                                <input type="submit" value="Crear" class="btn btn-primary" />
                            </div>

                        }
                        <!-- /Form -->
                    </div>
                </div>

                <div id="carphotos" class="tab-pane fade">
                    <div class="form-block clearfix">
                        <!--Form-->
                        <form>
                            <div class="pull-left col">
                                @{
                                    Html.RenderPartial("UploadPhotoPartial");
                                }
                            </div>

                            <div class="pull-right col">
                                <div class="bs-callout bs-callout-info">
                                    <h4>Informaci&oacute;n!</h4>
                                    <p>Tamaño m&aacute;ximo 5MB (jpg y png).</p>
                                    <p>Imagenes con el mismo nombre ser&aacute;n reemplazadas.</p>
                                    <p>Suba imagenes de alta calidad :)</p>
                                </div>
                            </div>
                        </form>
                        <!--/Form-->
                    </div>
                </div>

                <div id="formpublish" class="tab-pane fade">
                    <div class="form-block clearfix">
                        
                        <form action="Publish/Publish" method="POST">
                            <div class="clearfix">
                                @{
                                    Html.RenderAction("GetPublications", "Publish");
                                }
                            </div>
                        </form>
                    </div>



                </div>
            </div>
            <!-- /Tabs -->
        </div>
        <!-- /Container -->
    </section>
    <!-- /Content Block
    ================================================== -->
</div>
<!-- /Page Wrapper
    ================================================== -->

<script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload.js")"></script>
<script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.fileupload-ui.js")"></script>
<script src="@Url.Content("~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js")"></script>
<script src="@Url.Content("~/Scripts/vehicleCreate.js")"></script>


