﻿@using System.Globalization
@model eCars.WebUI.Models.VehicleViewModel

@{
    ViewBag.Title = "EnAutos.com :: Detalle";
}


<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay default">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>@Model.Make  @Model.Model @Model.Year </h2>
                <div class="line"></div>
                <p>@Model.Make</p>
            </div>
            <!-- Title /END -->

        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>

<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div id="product-details" class="row">

            <!-- Images Side -->
            <div class="col-sm-8 col-md-8 space-b-xs">

                <div class="clearfix">

                    <!-- Additional Images -->
                    <ul class="additional-images">
                        @{
                            foreach (var photo in Model.VehiclePhotos.ActualPhoto)
                            {
                                <li>
                                    <a href="http://localhost:50734/@photo" data-gal="prettyPhoto[gallery 1]" title="@Model.Make @Model.Model @Model.Year">
                                        <img src="http://localhost:50734/@photo?width=460&height=460&mode=max" alt="" />
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    <!-- /Additional Images -->
                    <!-- Main Image -->
                    <div class="main-image">
                        <a href="http://localhost:50734/@Model.VehiclePhotos.ActualPhoto.FirstOrDefault()" data-gal="prettyPhoto[gallery 1]">
                            <img src="http://localhost:50734/@Model.VehiclePhotos.ActualPhoto.FirstOrDefault()?width=460&height=460&mode=max" alt="">
                        </a>
                    </div>
                    <!-- /Main Image -->

                </div>

            </div>
            <!-- Image Side /END -->
            <!-- Product Info Side -->
            <div class="col-sm-4 col-md-4">

                <!-- Product Info-->
                <div class="product-info">

                    <h5 class="title widget-title">
                        @Model.Make @Model.Model @Model.Year
                    </h5>

                    @*<div class="review-box clearfix">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star disabled"></i>
                                <i class="fa fa-star disabled"></i>
                            </div>
                            <span>26 review(s). <a href="#"> Make a Review.</a></span>
                        </div>*@

                    <div class="price-box clearfix">
                        <h5 class="price">@Model.Price.ToString("C", Model.CurrencyId == 1 ? new CultureInfo("es-DO") : new CultureInfo("en-US"))</h5>
                    </div>

                    @{
                        var company = string.IsNullOrEmpty(Model.CustomerViewModel.CompanyName) ? @Model.CustomerViewModel.Name + " " + Model.CustomerViewModel.Lastname :
                            Model.CustomerViewModel.CompanyName;
                    }
                    <div class="attributes-box">
                        @{
                            if (Model.CustomerViewModel.IsDealer)
                            {
                                <strong>Vendor@@:</strong><span>@company</span><br />
                                <strong>Tel&eacute;fono:</strong>@Html.DisplayFor(model => model.CustomerViewModel.Phone)<br>
                                <strong>Direcci&oacute;n:</strong><span>@Model.CustomerViewModel.Address</span><br />
                                <strong>Fecha Publicaci&oacute;n:</strong><span>@Model.Created.ToString("dd/MM/yyyy")</span>

                            }
                            else
                            {
                                <strong>Vendor@@:</strong><span>@company</span><br />
                                <strong>Tel&eacute;fono:</strong><span> @Html.DisplayFor(model => model.CustomerViewModel.Phone)</span><br>
                                <strong>Mov&iacute;l:</strong><span>@Html.DisplayFor(model => model.CustomerViewModel.Mobile)</span>  <br>
                                <strong>Direcci&oacute;n:</strong><span>@Model.CustomerViewModel.Address</span><br />
                                <strong>Fecha Publicaci&oacute;n:</strong><span>@Model.Created.ToString("dd/MM/yyyy")</span>
                            }
                        }

                    </div>

                    <h5 class="widget-title">Colores</h5>
                    <div class="options-box">

                        <label class="control-label">Color Exterior</label>
                        <input type="color" value="@Model.ColorExteriorValue" class="form-control" readonly />

                        <label class="control-label">Color Interior</label>
                        <input type="color" value="@Model.ColorInteriorValue" class="form-control" readonly />

                    </div>
                    <div class="buy-box">
                        <a href="#" class="btn btn-primary"><i class="fa fa-mail-forward"></i>Notificame</a>
                        <a href="tel:@Model.CustomerViewModel.Phone" class="btn btn-primary"><i class="fa fa-phone"></i>Llamar</a>

                    </div>

                </div>
                <!-- /Product Info -->
            </div>
            <!-- /Product Info Side-->
        </div>
        <!-- /Row-->
        <!-- Row -->
        <div class="row">

            <!-- Column -->
            <div class="col-sm-8 col-md-8 space-b-xs">

                <!-- Tab Nav-->
                <ul class="nav nav-tabs  product-nav-tabs">

                    <li class="active">
                        <a data-toggle="tab" href="#specifications">Especificaciones</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#desc">Descripci&oacute;n</a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#return-info">EnAutos Info</a>
                    </li>
                </ul>
                <!-- /Tab Nav-->
                <!-- Tab panes -->
                <div class="tab-content">

                    <!-- Tab -->
                    <div class="tab-pane active" id="specifications">
                        <p>Aspecto t&eacute;cnico</p>
                        <!-- Nested Row -->
                        <div class="row">

                            <!-- Column -->
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <ul class="icon-list">
                                    <li><i class="fa fa-check"></i>@Html.LabelFor(model => model.MotorId, new { @class = "control-label" }) : @Model.MotorName </li>
                                    <li><i class="fa fa-check"></i>@Html.LabelFor(model => model.Cilinders, new { @class = "control-label" }) : @Model.Cilinders</li>
                                    <li><i class="fa fa-check"></i>@Html.LabelFor(model => model.TransmissionId, new { @class = "control-label" }) : @Model.TransmissionName</li>
                                    <li><i class="fa fa-check"></i>@Html.LabelFor(model => model.DriveTrainId, new { @class = "control-label" }) : @Model.DriveTrainName</li>
                                    <li><i class="fa fa-check"></i>@Html.LabelFor(model => model.FuelId, new { @class = "control-label" }) : @Model.FuelName</li>
                                </ul>
                            </div>
                            <!-- /Column -->
                            <!-- Column -->
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <ul class="icon-list">
                                    <li><i class="fa fa-check"></i>@Html.LabelFor(model => model.VehicleConditionId, new { @class = "control-label" }): @Model.VehicleConditionName</li>
                                    <li><i class="fa fa-check"></i>@Html.LabelFor(model => model.TotalSeating, new { @class = "control-label" }): @Model.TotalSeating</li>
                                    @*<li><i class="fa fa-check"></i>Neptune is eight</li>
                                        <li><i class="fa fa-check"></i>Pluto is the last </li>
                                        <li><i class="fa fa-check"></i>Nine in total</li>*@
                                </ul>
                            </div>
                            <!-- /Column -->

                        </div>
                        <!-- /Nested Row -->

                    </div>

                    <!-- /Tab -->
                    <!-- Tab -->
                    <div class="tab-pane" id="desc">
                        <div class="bs-callout bs-callout-warning">
                            <p>@Model.Description</p>
                            @*<p>
                                    <input type="text" value="@Model.Tags" data-role="tagsinput" id="tagsDetail">
                                </p>*@

                            <ul class="icon-list">
                                @if (!string.IsNullOrEmpty(Model.Tags))
                                {
                                    foreach (var tag in Model.Tags.Split(','))
                                    {
                                        <li><i class="fa fa-check"></i>@tag</li>
                                    }
                                }

                            </ul>
                        </div>

                    </div>
                    <!-- /Tab -->
                    <!-- Tab -->
                    <div class="tab-pane" id="return-info">
                        <h5 class="title widget-title">Videos sobre @Model.Make @Model.Model @Model.Year</h5>
                        <p>
                            <a href="http://m.youtube.com/results?q=@Model.Make @Model.Model @Model.Year" class="btn btn-primary" target="_blank"><i class="fa fa-youtube"></i>@Model.Make @Model.Model @Model.Year</a>
                        </p>
                        <h5 class="title widget-title">Calculadora de pr&eacute;stamos</h5>
                        <div class="calculator-loan">

                            <div class="contact-form">
                                <input type="text" class="amount" placeholder="Monto de pr&eacute;stamo" value="">
                                <input type="text" class="rate" placeholder="Tasa de Inter&eacute;s" value="">
                                <input type="text" class="term" placeholder="Duraci&oacute;n" value="">
                                <div class="bs-callout bs-callout-info">
                                    <h4>Formato de duraci&oacute;n</h4>
                                    <p>Formato ejemplo: 6m (m = meses) | 2y (y = años)</p>
                                </div>
                            </div>
                            <div class="result">
                                <div class="contact-form">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Tab -->

                </div>
                <!-- Tab panes /END-->
            </div>
            <!-- /Column -->
            <!-- Column -->
            <div class="col-sm-4 col-md-4">

                <!-- Tab Nav -->
                <ul class="nav nav-tabs  product-nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#similar">Similares</a>
                    </li>
                    @*<li class="">
                            <a data-toggle="tab" href="#top-sellers">Destacados</a>
                        </li>*@
                </ul>
                <!-- /Tab Nav -->
                <!-- Tab panes -->
                <div class="tab-content">

                    <!-- Tab -->
                    <div class="tab-pane active" id="similar">
                        <!-- Side Products -->
                        <ul class="side-products">
                            @{
                                Html.RenderAction("Similiar", new { id = Model.VehicleId });
                            }
                        </ul>
                        <!-- /Side PRoducts -->
                    </div>
                    <!-- /Tab -->
                    <!-- Tab -->
                  
                    <!-- /Tab -->

                </div>
                <!-- Tab panes /END-->
            </div>
            <!-- /Column -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</section>

<script src="@Url.Content("~/Scripts/jquery.accrue.min.js")"></script>
<script src="@Url.Content("~/Scripts/vehicleDetail.js")"></script>
