﻿@model PagedList.IPagedList<eCars.WebUI.Models.VehicleViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "EnAutos.com :: Buscar";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/typeaheadjs.css")" />
<!-- Page Title
      ================================================== -->
<section class="page-title dark-bg page-bg">
    <!-- Overlay -->
    <div class="overlay">
        <!-- Container -->
        <div class="container">

            <!-- Title -->
            <div class="section-title">
                <h2>Busca tu Auto</h2>
                <div class="line"></div>
                <p>EnAutos.com, todos los autos que buscas.</p>
                <div class="form-group">
                    <div id="prefetch">
                        <input type="text" id="searchMainTxt" class="form-control typeahead" placeholder="Ej: honda civic" maxlength=64 />

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="vehicelSearchBtn"><i class="fa fa-search">Buscar</i></button>
                    </div>

                </div>

            </div>
            <!-- Title /END -->
        </div>
        <!-- /Container -->
    </div>
    <!-- /Overlay -->
</section>
<!-- /Page Title
    ================================================== -->
@*<section class="page-info-block">

        <!-- Container -->
        <div class="container">
            <!-- Page Info -->
            <div class="page-info clearfix">

                <!-- Search -->
                <p>La mejor forma de buscar</p>
                <!-- /Search -->

            </div>
            <!-- /Page-info -->
        </div>
        <!-- /Container -->

    </section>*@



<!-- Content Block
================================================== -->
<section class="content-block default-bg">

    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Main Col -->
            <div id="main-col" class="col-sm-9 col-md-9">

                <!-- Products Filter -->
                <div class="products-filter clearfix">
                    <div class="display">
                        <span class="show-list" onclick="changeView('list')">Ver Lista<i class="fa fa-th-list"></i></span>
                        <span class="show-grid" onclick="changeView('grid')">Ver Tabla<i class="fa fa-th"></i></span>
                    </div>
                    @*<div class="limit">
                            <b>No</b>
                            <select>
                                <option value="9" selected="selected">9</option>
                                <option value="12">12</option>
                                <option value="15">15</option>
                                <option value="18">18</option>
                            </select>
                        </div>*@
                    <div class="sort">
                        <b>Ordenar Por</b>
                        <select id="searchSortBy">
                            <option value="" selected="selected">Seleccione</option>
                            <option value="1">Año</option>
                            <option value="2">Precio</option>
                        </select>
                    </div>

                </div>
                <!-- /Products Filter -->
                <!-- Product Grid -->
                <ul id="carProductGrid" class="product-grid row">

                    @{
                        Html.RenderPartial("ProductGrid", Model);
                    }
                </ul>
                <!-- /Product Grid -->
                <!-- Pagination -->
                <ul class="pagination">
                    @*<li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>*@
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </ul>
                <!-- /Pagination -->

            </div>
            <!-- /Main Col -->
            <!---->
            <!-- Side Col -->
            <div id="side-col" class="col-sm-3 col-md-3">
                <!-- Side Widget -->
                <div class="side-widget">

                    <h5 class="widget-title">Filtros<i class="fa fa-list"></i></h5>

                    <ul class="side-links">
                        <li class="has-children">
                            <a class="btn-link">Año</a><span class="toggle-children"></span>
                            <ul>
                                <li>@Html.DropDownList("Year", Model.FirstOrDefault().Years, "Desde", new { @class = "form-control", @id = "yearFrom" })</li>
                                <li>@Html.DropDownList("Year", Model.FirstOrDefault().Years, "Hasta", new { @class = "form-control", @id = "yearTo" })</li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Precio</a><span class="toggle-children"></span>
                            <ul>
                                <li>@Html.TextBox("PriceFrom", null, new { @class = "form-control", @type = "number", @placeholder ="Desde"})</li>
                                <li>@Html.TextBox("PriceTo", null, new { @class = "form-control", @type = "number", @placeholder = "Hasta, enter para filtrar" })</li>
                            </ul>
                        </li>
                        
                        <li class="has-children">
                            <a href="#">Combustible</a><span class="toggle-children"></span>
                            <ul>
                                <li>@Html.DropDownList("FuelId", Model.FirstOrDefault().Fuels, "Seleccione", new { @class = "form-control" })</li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Condici&oacute;n</a><span class="toggle-children"></span>
                            <ul>
                                <li>@Html.DropDownList("VehicleConditionId", Model.FirstOrDefault().Conditions, "Seleccione", new { @class = "form-control" })</li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Lugares</a><span class="toggle-children"></span>
                            <ul>
                                <li>@Html.DropDownList("StateId", Model.FirstOrDefault().States, "Seleccione", new { @class = "form-control" })</li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- /Side Widget -->
                <!-- Side Widget -->
                @*<div class="side-widget">

                        <h5 class="widget-title">Anuncio pagado<i class="fa fa-tags"></i></h5>
                        <ul class="tags clearfix">
                            <li><a href="#">BMW</a></li>
                            <li><a href="#">Mercedez</a></li>
                            <li><a href="#">Honda</a></li>
                            <li><a href="#">Corolla</a></li>

                        </ul>
                    </div>*@
                <!-- /Side Widget -->

            </div>
            <!-- /Side Col -->
        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->
</section>
<!-- /Content Block
================================================== -->
<script src="@Url.Content("~/Scripts/vehicleSearch.js")"></script>
