﻿@using System.Globalization
@model IEnumerable<eCars.WebUI.Models.VehicleViewModel>



@if (Model.Any())
{
    foreach (var vehicleViewModel in Model)
    {
        <li class="side-product clearfix">
            <a class="image" href="#"><img src="http://localhost:50734/@vehicleViewModel.VehiclePhotos.PhotoThumbnail.FirstOrDefault()?width=460&height=460&mode=max" alt=""></a>
            <div class="text">
                <a class="name" href="#">@vehicleViewModel.Make @vehicleViewModel.Model @vehicleViewModel.Year</a>
                <span class="price">@vehicleViewModel.Price.ToString("C", vehicleViewModel.CurrencyId == 1 ? new CultureInfo("es-DO") : new CultureInfo("en-US"))</span>                 
            </div>
        </li>
    
    }
}
else
{
    <li class="side-product clearfix">
        <a class="image" href="#"><img src="http://localhost:50734/content/images/backgrounds/2014-model-s.jpg?width=460&height=460&mode=max" alt="Thumbnail Image" class="img-thumbnail"></a>
        <div class="text">
            <a class="name" href="#">No hay autos similares.</a>
            <span class="price">0</span>
        </div>
    </li>
}






