﻿

<h4><i class="fa fa-circle-o"></i>Selecciona un veh&iacute;culo.</h4>
<select class="form-control" id="selectVehicle" name="selectVehicle"></select>
<hr/>
<h4><i class="fa fa-camera-retro"></i>Sube las fotos de tu auto</h4>
<input type="file" name="MyFile" id="fu-my-simple-upload-with-size" class="form-control" />
<a href="" id="hl-start-upload-with-size" class="btn btn-primary"><i class=" icon fa fa-cloud-upload"></i>Subir Imagen</a>
<input id="objectContext" name="objectContext" class="hidden" />

@*@section head {


    <script type="text/javascript">

        var jqXHRData;

        $(document).ready(function () {

            //initSimpleFileUpload();
            //initAutoFileUpload();
            initFileUploadWithCheckingSize();

            $("#hl-start-upload").on('click', function () {
                console.log('click ok');
                if (jqXHRData) {
                    jqXHRData.submit();
                }
                return false;
            });

            $("#hl-start-upload-with-size").on('click', function () {
                console.log('click ok');
                if (jqXHRData) {
                    var isStartUpload = true;
                    var uploadFile = jqXHRData.files[0];

                    if (!(/\.(gif|jpg|jpeg|tiff|png)$/i).test(uploadFile.name)) {
                        alert('Debe Seleccionar una imagen');
                        isStartUpload = false;
                    } else if (uploadFile.size > 5000000) { // 5mb
                        alert('Por favor suba una imagen de menor tamaño, el tamaño m&aacute;ximo es 5MB');
                        isStartUpload = false;
                    }
                    if (isStartUpload) {
                        jqXHRData.submit();
                    }
                }
                return false;
            });
        });

        function initSimpleFileUpload() {
            'use strict';

            $('#fu-my-simple-upload').fileupload({
                url: '/File/UploadFile',
                dataType: 'json',
                add: function (e, data) {
                    jqXHRData = data
                },
                done: function (event, data) {
                    if (data.result.isUploaded) {

                    }
                    else {

                    }
                    alert(data.result.message);
                },
                fail: function (event, data) {
                    if (data.files[0].error) {
                        alert(data.files[0].error);
                    }
                }
            });
        }

        function initAutoFileUpload() {
            'use strict';

            $('#fu-my-auto-upload').fileupload({
                autoUpload: true,
                url: '/File/UploadFile',
                dataType: 'json',
                add: function (e, data) {
                    var jqXHR = data.submit()
                        .success(function (data, textStatus, jqXHR) {
                            if (data.isUploaded) {

                            }
                            else {

                            }
                            alert(data.message);
                        })
                        .error(function (data, textStatus, errorThrown) {
                            if (typeof (data) != 'undefined' || typeof (textStatus) != 'undefined' || typeof (errorThrown) != 'undefined') {
                                alert(textStatus + errorThrown + data);
                            }
                        });
                },
                fail: function (event, data) {
                    if (data.files[0].error) {
                        alert(data.files[0].error);
                    }
                }
            });
        }

        function initFileUploadWithCheckingSize() {
            'use strict';

            $('#fu-my-simple-upload-with-size').fileupload({
                url: 'File/UploadFile',
                dataType: 'json',
                add: function (e, data) {
                    jqXHRData = data;

                },
                done: function (event, data) {
                    if (data.result.isUploaded) {

                    }
                    else {

                    }
                    alert(data.result.message);
                },
                fail: function (event, data) {
                    if (data.files[0].error) {
                        alert(data.files[0].error);
                    }
                }
            });
        }

    </script>
}*@
