@import url("../fonts/font-awesome/font-awesome.css");
@import url("../fonts/open-sans/open-sans.css");
@import url("../fonts/roboto/roboto.css");
/* ========================================================== 
   INITIALIZE
=============================================================*/
/* BACKGROUND IMAGES
------------------------------------------------------ */
.page-bg, .pic-bg-1, .pic-bg-2, .pic-bg-3, .pic-bg-4 {
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  -ms-background-size: cover!important;
  background-size: cover!important;
}

.page-bg {
  background: url("../images/backgrounds/cover3.jpg") no-repeat center 0 fixed;
}

.pic-bg-1 {
  background: url("../images/backgrounds/cover1.jpg") no-repeat center 0 fixed;
}

.pic-bg-2 {
  background: url("../images/backgrounds/cover2.jpg") no-repeat center 0 fixed;
}

.pic-bg-3 {
  background: url("../images/backgrounds/cover3.jpg") no-repeat center 0 fixed;
}

.pic-bg-4 {
  background: url("../images/backgrounds/cover4.jpg") no-repeat center 0 fixed;
}

/* SKIN COLOR CLASSES 
------------------------------------------------------ */
.color-1 {
  color: #e74c3c;
}

.color-1-bg {
  background-color: #e74c3c;
}

.color-1-lighter-20pc {
  background-color: #f29f97;
}

.color-2 {
  color: #2c3e50;
}

.color-2-bg {
  background-color: #2c3e50;
}

.color-2-lighter-20pc {
  background-color: #507192;
}

/* RECIPES
-------------------------------------------------- */
.u-case {
  text-transform: uppercase;
}

.l-case {
  text-transform: lowercase;
}

.c-case {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-b {
  margin-bottom: 0 !important;
}

.no-margin-t {
  margin-top: 0 !important;
}

.space-b {
  margin-bottom: 30px;
}

.no-pad {
  padding: 0 !important;
}

.no-pad-t {
  padding-bottom: 0 !important;
}

.no-pad-b {
  padding-top: 0 !important;
}

.width-100pc {
  width: 100%;
}

.width-90pc {
  width: 90%;
}

.width-95pc {
  width: 95%;
}

.width-80pc {
  width: 80%;
}

.width-50pc {
  width: 50%;
}

.clear {
  clear: both !important;
  visibility: hidden;
  display: block;
  height: 0;
}

.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.v-center {
  display: table;
  height: 100%;
  width: 100%;
}
.v-center .center {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .block-xs {
    display: block;
  }

  .no-float-xs {
    float: none !important;
  }

  .space-b-xs {
    margin-bottom: 30px;
  }

  .space-t-xs {
    margin-top: 30px;
  }

  .space-y-xs {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
/* TRANSITIONS
-------------------------------------------------- */
.ts-1, .tts-1 .tts-1-target {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.ts-1:hover, .tts-1:hover .tts-1-target {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.ts-fadein, .tts-fadein .tts-fadein-target {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  -ms-opacity: 0;
  opacity: 0;
}

.ts-fadein:hover, .tts-fadein:hover .tts-fadein-target {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  -ms-opacity: 1;
  opacity: 1;
}

/* BOOTSTRAP RESETS
------------------------------------*/
.img-thumbnail,
.btn,
.btn-group .btn,
.btn-group .dropdown-menu,
.btn-group .btn,
.btn-group .btn:first-child:not(:last-child),
.btn-group .btn:last-child:not(:first-child),
.table-bordered,
.table-bordered tr:first-child th:first-child,
.table-bordered tr:first-child th:last-child,
.table-bordered tr:last-child td:first-child,
.table-bordered tr:last-child td:last-child,
.input-group .btn,
.input-group .dropdown-menu,
.input-group .form-control,
.input-group .input-group-addon,
.dropdown-menu,
.dropdown-menu .dropdown-submenu .dropdown-menu,
.form .form-control,
.form .btn,
.form-control,
.label,
.badge,
.alert,
.alert .btn,
.progress,
.breadcrumb,
.tooltip .tooltip-inner,
.popover,
.nav-list-panel,
.nav-tabs li > a,
.tabs-below .nav-tabs li > a,
.tabs-right .nav-tabs li > a,
.tabs-left .nav-tabs li > a,
.nav-tabs .dropdown-menu,
.tabs-below .nav-tabs .dropdown-menu,
.nav-pills li a,
.nav-pills .dropdown-menu,
.navbar,
.navbar .dropdown-menu,
.progress-bar, .progress
.pagination li:first-child a,
.pagination li:first-child span,
.pagination li:last-child a,
.pagination li:last-child span,
.pager li a:hover,
.pager li a:focus,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-body,
.breadcrumb-arrow li:first-child a,
pre, code, .container .jumbotron {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  -o-text-shadow: none;
  -ms-text-shadow: none;
  text-shadow: none;
}

/* BUTTONS
-------------------------------------------------- */
.btn {
  text-transform: capitalize;
  color: #fff;
  border: 0;
}
.btn:hover, .btn:active, .btn:focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-thicker {
  padding: 12px 24px;
}

.btn-primary {
  background-color: #e74c3c;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #cf4436;
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.btn-secondary {
  background-color: #566473;
}

.btn-white, .btn-secondary, .btn-color {
  color: #fff;
}
.btn-white:hover, .btn-secondary:hover, .btn-color:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
}

.btn-white {
  background-color: #fff;
  color: #2c3e50;
}
.btn-white:hover {
  color: #2c3e50;
}

.btn-outline {
  color: #fff;
  border: 1px solid #fff;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  background: #2c3e50;
  color: #fff;
  border: 1px solid #fff;
}

.btn i {
  margin: 0 10px 0 0;
  text-shadow: none;
  font-weight: normal;
  font-size: 1.2em;
}

.btn-default {
  background: #F5F5F5;
  border: 1px solid #ddd;
  color: #666;
}
.btn-default:hover {
  background: #eee;
  border: 1px solid #ddd;
}

.btn-default.no-border {
  border: none;
}

.btn-search:after {
  font-family: "FontAwesome";
  content: "\f002";
}

.split-buttons {
  margin: 0 auto;
  position: relative;
  width: 350px;
}

.split-buttons span {
  background: #323740;
  bottom: 0;
  color: #FFFFFF;
  display: block;
  font-style: italic;
  height: 30px;
  left: 0;
  line-height: 30px;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}

.split-buttons .btn {
  display: inline-block;
  margin: 0;
  font: bold 16px "Roboto Condensed";
  padding: 18px 0;
  text-transform: uppercase;
  width: 50%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

/* TABS
---------------------------------------------------*/
.tab-pane {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: 0;
  background: #fff;
}

.tab-content.no-border .tab-pane {
  padding: 20px 0;
  border: 0;
  background: none;
}

.nav-tabs > li > a {
  color: #333;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-right-width: 0;
  margin: 0;
  background: #FAFAFA;
  font-size: 13px;
  padding: 15px 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.nav-tabs > li:last-child > a, .nav-tabs > li:last-child.active > a {
  border-right-width: 1px !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-right-width: 0;
  border-top: 2px solid #e74c3c;
}

.nav-tabs > li > a:hover {
  background: #fff;
  border-color: #ddd;
}

/* MODALS
-------------------------------------------------- */
.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 20px 0 -10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 20px 0 -10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 20px 0 -10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 20px 0 -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 0 -10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  border: none;
}
.modal-header .close {
  color: #fff;
  margin: 10px 20px 0 0;
  opacity: 0.9;
  font-size: 22px;
}
.modal-header .close:hover {
  opacity: 1;
}

.modal-header .modal-title {
  background: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

/* PROGRESS
-------------------------------------------------- */
.progress {
  height: 35px;
}
.progress.white-bg {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #ddd;
  -moz-box-shadow: inset 0 0 0 1px #ddd;
  -o-box-shadow: inset 0 0 0 1px #ddd;
  -ms-box-shadow: inset 0 0 0 1px #ddd;
  box-shadow: inset 0 0 0 1px #ddd;
}
.progress .skill {
  font: normal 12px "Roboto Condensed";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}
.progress .skill .fa {
  margin-right: 10px;
}

.progress-bar {
  text-align: left;
}

/* PAGINATION
-------------------------------------------------- */
.pagination li a {
  border: none;
  background: none;
  border: 1px solid #ddd;
  padding: 0 14px;
  line-height: 35px;
  display: block;
  margin-right: 5px;
  color: #2c3e50;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
}
.pagination li a:hover {
  background: #e5e5e5;
}
@media (max-width: 767px) {
  .pagination li a {
    padding: 0 14px;
    line-height: 35px;
  }
}
.pagination li:first-child a {
  color: #fff;
  background: #566473;
  font-size: 15px;
  border-color: #2c3e50;
}
.pagination li:first-child a:hover {
  background: #2c3e50;
}
.pagination li:last-child a {
  color: #fff;
  background: #e74c3c;
  border-color: #b83c30;
  font-size: 15px;
}
.pagination li:last-child a:hover {
  background: #b83c30;
}
.pagination.align-center {
  width: 100%;
}
.pagination.align-center li {
  display: inline-block;
}
.pagination.align-center li a {
  margin-right: 1px;
}

/* PANELS
-------------------------------------------------- */
.panel-group .panel {
  margin-bottom: 15px;
}

.panel-heading {
  padding: 15px 20px;
}

.panel-heading .fa {
  margin-right: 7px;
}

/* JUMBOTRON
-------------------------------------------------- */
.container .jumbotron {
  background: #FCFCFC;
  border: 1px solid #DDDDDD;
}

.jumbotron {
  padding: 60px 40px 40px 40px;
}
.jumbotron p {
  font-size: 14px;
  margin: 0 0 20px 0;
}
.jumbotron h1 {
  font-size: 35px;
  text-transform: capitalize;
  margin: 0 0 25px 0;
  color: #666;
}
.jumbotron .btn.space {
  margin-right: 5px;
}

/* TABLE
-------------------------------------------------- */
.table {
  border: 1px solid #dddddd;
}

.table tbody > tr > td, .table thead > tr > th {
  padding: 15px;
}

/* CALLOUTS
-------------------------------------------------- */
.bs-callout {
  border-left: 3px solid #EEEEEE;
  margin: 20px 0;
  padding: 20px;
}

.bs-callout h4 {
  margin: 0 0 5px 0;
}

.bs-callout p {
  margin: 0;
}

.bs-callout-warning {
  background-color: #fcf8f2 !important;
  border-color: #F0AD4E;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-danger {
  background-color: #FDF7F7;
  border-color: #d9534f !important;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-info {
  background-color: #F4F8FA;
  border-color: #5bc0de !important;
}

.bs-callout-info h4 {
  color: #5bc0de;
}

.bs-callout-success {
  background-color: #DFF0D8;
  border-color: #d6e9c6 !important;
}

/* BREADCRUMB
---------------------------------------------------*/
.breadcrumb {
  padding: 0;
  background: none;
  margin: 0;
  display: inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.breadcrumb li {
  line-height: 35px;
  font-size: 12px;
  text-transform: uppercase;
}

.breadcrumb li a {
  color: #888888;
}

.breadcrumb li.active {
  font-weight: 600;
}

.breadcrumb i {
  text-align: center;
  display: inline-block;
  line-height: 35px;
  width: 35px;
  background: #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* PRE
---------------------------------------------------*/
/* TYPOGRAPHY
-------------------------------------------------- */
body {
  font: 13px "Open Sans", Arial, sans-serif;
  color: #888888;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed";
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
  margin: 20.8px 0 20.8px 0;
  line-height: 1;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

p {
  margin-bottom: 20.8px;
  line-height: 20.8px;
}

li {
  line-height: 20.8px;
}

img + p {
  margin-top: 20.8px;
}

hr {
  margin: 62px 0;
  border-color: #ddd;
}

.dark-bg hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

h4 + hr {
  margin-top: 0;
  line-height: 1;
}

.hr-diamond {
  text-align: center;
  position: relative;
  height: 7px;
  border: 0;
  margin: 62px auto;
  line-height: 1;
}

.hr-diamond .diamond {
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 1px solid #ddd;
  background: #fff;
  transform: rotate(45deg);
}

.hr-diamond .line {
  height: 1px;
  width: 100%;
  position: absolute;
  background: #ddd;
  top: 9px;
  left: 0;
}

a {
  color: #2c3e50;
}

a:hover {
  text-decoration: none;
  color: black;
}

a, a:focus, a:active {
  outline: 0;
  text-decoration: none;
}

blockquote {
  background: #F7F8F8;
  padding: 20.8px;
  font-weight: 300;
  margin: 0 0 20.8px 0;
  font-size: 13px;
  border-left: 5px solid #e74c3c;
}

img {
  max-width: 100%;
  height: auto;
}
img.fill-w {
  width: 100%;
  height: auto;
}
img.cover {
  height: 100%;
  width: 100%;
}

.dropcap {
  float: left;
  font-size: 32px;
  margin: 8px 5px 5px 0;
}

.dropcap.circle {
  display: inline-block;
  text-align: center;
  line-height: 52px;
  width: 52px;
  margin: 7.8px 10.4px 0 0;
  color: #fff;
  background: #e74c3c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

img.left {
  margin: 7.8px 20.8px 0 0;
  float: left;
}

/* ICON LIST
-------------------------------------------------- */
ul.icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
ul.icon-list > li {
  line-height: 30px;
}
ul.icon-list > li > i {
  line-height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  display: inline-block;
  background: #e74c3c;
  color: #fff;
  margin: 0 10px 0 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

/* ========================================================== 
   LAYOUT MODULES
=============================================================*/
/* PAGES SETUP
-------------------------------------------------- */
html {
  background: url("../images/backgrounds/cover3.jpg") no-repeat center 0 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  position: relative;
  display: block;
  height: 100%;
}

body {
  background: rgba(255, 255, 255, 0.7);
  display: block;
  min-height: 100%;
}

#page-wrapper {
  margin: 0 auto;
  background: none;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* CONTENT BLOCKS
-------------------------------------------------- */
.content-block.default-bg {
  background: #fff;
}
.content-block .overlay {
  min-height: 100%;
}
.content-block .overlay.default {
  background: rgba(44, 62, 80, 0.8);
}
.content-block .overlay.tint {
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.content-block .overlay.tint.no-border {
  border: none;
}
.content-block .container {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .content-block .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.content-block.dark-bg {
  color: rgba(255, 255, 255, 0.7);
}
.content-block.dark-bg h4, .content-block.dark-bg h3 {
  color: #fff;
}

/* INTRO BLOCK
-------------------------------------------------- */
.intro-block .overlay {
  min-height: 100%;
  background: rgba(44, 62, 80, 0.8);
}
.intro-block .container {
  padding-top: 205px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .intro-block .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* SIDE NAV
-------------------------------------------------- */
@media (max-width: 767px) {
  #main-col {
    margin-bottom: 30px;
  }
}
/* PAGE TITLE
-------------------------------------------------- */
.page-title .overlay {
  min-height: 100%;
  background: rgba(44, 62, 80, 0.8);
}
.page-title .section-title {
  margin: 0;
}
.page-title .container {
  padding-top: 185px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .page-title .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* SECTION TITLE
---------------------------------------------------*/
.section-title {
  text-align: center;
  margin: 0 0 40px 0;
}
.section-title h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  line-height: 1;
  font-size: 30px;
  font-family: "Roboto Black";
  font-weight: normal;
}
.section-title p {
  display: inline-block;
  margin: 10px 0 0 0;
  font-size: 18px;
  font-family: "Roboto Condensed Light";
  color: #888;
  text-transform: capitalize;
  font-weight: normal;
}
.section-title .line {
  display: block;
  width: 80px;
  margin: 0 auto;
  height: 4px;
  background: #e74c3c;
  position: relative;
}
.section-title .line:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #e74c3c;
}
@media (max-width: 991px) {
  .section-title h2 {
    font-size: 27px;
  }
  .section-title p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .section-title h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .section-title p {
    font-size: 13px;
  }
  .section-title .line {
    width: 60px;
  }
}

.dark-bg .section-title h2 {
  color: #fff;
}
.dark-bg .section-title .line {
  background: #fff;
}
.dark-bg .section-title p {
  color: rgba(255, 255, 255, 0.5);
}

/* PAGE INFO
---------------------------------------------------*/
.page-info-block + .content-block .container {
  padding-top: 40px;
}

.page-info-block {
  background: #fff;
  padding-top: 30px;
}

.page-info {
  padding-bottom: 20px;
  border-bottom: 2px solid #566473;
}
.page-info .breadcrumb {
  margin-left: 20px;
}
.page-info .breadcrumb li {
  text-transform: capitalize;
  line-height: 35px;
  color: #2c3e50;
}
.page-info .breadcrumb li a:hover {
  color: #2c3e50;
}
.page-info .page-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.page-info .page-links li {
  display: inline-block;
}
.page-info .page-links i {
  text-align: center;
  display: inline-block;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  width: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #e5e5e5;
  color: #2c3e50;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.page-info .page-links i.bg-1 {
  background: #e74c3c;
  color: #fff;
}
.page-info .page-links i.bg-1:hover {
  background: #cf4436;
}
.page-info .page-links i.bg-2 {
  background: #4b5a6a;
  color: #fff;
}
.page-info .page-links i.bg-3 {
  background: #606e7b;
  color: #fff;
}
.page-info .page-links a {
  display: block;
  color: #888;
}
.page-info .page-links a:hover i {
  color: #fff;
  background: #2c3e50;
}
.page-info .page-links.pull-right {
  margin-right: 5px;
}
@media (max-width: 767px) {
  .page-info .breadcrumb {
    display: none;
  }
  .page-info .page-links i {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    font-size: 11px;
  }
  .page-info .page-links.pull-right {
    display: none;
  }
  .page-info .page-links.pull-left li:first-child {
    display: none;
  }
  .page-info .page-search.open {
    width: 180px;
  }
  .page-info .page-search input {
    height: 30px;
  }
  .page-info .page-search .search-btn {
    height: 30px;
    width: 30px;
  }
  .page-info .page-search .toggle {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .page-info .page-search .toggle:before {
    font-size: 13px;
  }
}

/* SIDE WIDGETS
---------------------------------------------------*/
.side-widget {
  margin: 0 0 30px 0;
}

.widget-title {
  color: #fff;
  background: #415161;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0 20px;
  line-height: 45px;
}

.widget-title i {
  float: right;
  display: inline-block;
  line-height: 45px;
}

/* SIDE POSTS
---------------------------------------------------*/
ul.side-posts {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.side-posts li {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px dotted #ddd;
}
ul.side-posts li .image {
  width: 25%;
  height: auto;
  float: left;
}
ul.side-posts li .image img {
  padding: 3px;
  border: 1px solid #eee;
}
ul.side-posts li .text {
  width: 70%;
  height: auto;
  float: right;
}
ul.side-posts li .text a {
  display: block;
  color: #333;
  text-transform: capitalize;
  font-weight: 600;
}
ul.side-posts li .text span {
  font-size: 11px;
}
ul.side-posts li:last-child {
  border: none;
}

/* SIDE LINKS
---------------------------------------------------*/
ul.side-links, ul.side-links > li > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.side-links > li {
  border-bottom: 1px solid #eee;
}
ul.side-links > li > i {
  margin: 0 10px 0 0;
}
ul.side-links > li > a {
  color: #666666;
  line-height: 40px;
  padding: 0 0 0 20px;
  background: url("../images/arrow1.png") no-repeat 5px center;
}
ul.side-links > li > a:hover {
  color: #ff3366;
}
ul.side-links > li > ul {
  display: none;
}
ul.side-links > li > ul > li > a {
  background: #F7F7F7;
  border-bottom: 1px dotted #CCCCCC;
  color: #666666;
  display: block;
  line-height: 35px;
  padding: 0 20px;
  font-size: 0.9em;
}
ul.side-links > li > ul > li:last-child > a {
  border: none;
}
ul.side-links > li > .toggle-children {
  background: #FBFBFB;
  color: #888;
  border: 1px solid #ddd;
  cursor: pointer;
  display: block;
  float: right;
  font: normal 16px Arial;
  line-height: 20px;
  margin: 10px 0 0 0;
  text-align: center;
  width: 20px;
}
ul.side-links > li > .toggle-children:hover {
  background: #eeeeee;
}
ul.side-links > li > .toggle-children:before {
  content: "+";
}
ul.side-links > li > .toggle-children.open:before {
  content: "-";
}

/* HEADER
-------------------------------------------------- */
#header {
  z-index: 999;
  background: #fff;
  min-height: 85px;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
  -o-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
  -ms-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 767px) {
  #header {
    position: relative;
  }
}

/* TOP BAR
-------------------------------------------------- */
#top-bar {
  position: relative;
  background: #eee;
  display: none;
  min-height: 40px;
}
#top-bar .links {
  list-style: none;
  padding: 0;
  margin: 0;
}
#top-bar .links > li {
  display: inline-block;
  opacity: 0.7;
}
#top-bar .links > li:hover {
  opacity: 1;
}
#top-bar .links > li > a {
  color: #666;
  display: block;
  font-size: 11px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
}
#top-bar .links > li > a > i {
  font-size: 12px;
  line-height: 40px;
  margin-right: 10px;
}

#top-bar.open + #main-nav.navbar-default {
  border-top: 4px solid #2c3e50;
}
#top-bar.open + #main-nav.navbar-default .container {
  border: none;
}

/* BASIC NAVIGATION
-------------------------------------------------- */
#main-nav.navbar-default .navbar-form .btn, #main-nav.navbar-default .navbar-form .form-control, #main-nav.navbar-default .navbar-nav.nav-buttons > li > a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#main-nav.navbar-default .navbar-toggle, #main-nav.navbar-default .navbar-nav > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

#main-nav.navbar-default {
  position: relative;
  background: none;
  width: 100%;
  margin: 0;
  border: none;
  display: block;
  padding: 0;
  min-height: 85px;
}
#main-nav.navbar-default .container {
  border-top: 4px solid #2c3e50;
}
#main-nav.navbar-default .navbar-collapse {
  padding: 0;
}
#main-nav.navbar-default .navbar-toggle {
  color: #aab1b9;
  font-size: 15px;
  background: none;
  border: 1px solid #aab1b9;
  padding: 0 10px;
  height: 34px;
  margin: 25px 0;
}
#main-nav.navbar-default .navbar-toggle:hover {
  color: #2c3e50;
  border: 1px solid #2c3e50;
}
#main-nav.navbar-default .navbar-brand {
  padding: 0;
  margin: 27px 0;
  display: block;
  height: 30px;
  line-height: 1 !important;
}
#main-nav.navbar-default .navbar-brand h1 {
  padding: 0;
  line-height: 30px !important;
  font: bold 30px "Roboto Condensed";
  margin: 0;
  color: #2c3e50;
  display: inline-block;
}
#main-nav.navbar-default .navbar-brand img {
  height: 30px;
  width: auto;
  line-height: 1;
  display: block;
}
#main-nav.navbar-default .navbar-brand .fa {
  margin-right: 5px;
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  color: #e74c3c;
}
#main-nav.navbar-default .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
#main-nav.navbar-default .navbar-nav > li > a {
  color: #2c3e50;
  text-transform: capitalize;
  padding: 0 20px;
  font: normal 14px "Roboto Condensed";
  line-height: 85px;
  margin: 0px 0;
  display: block;
}
#main-nav.navbar-default .navbar-nav > li > a .parent-symbol {
  color: #e74c3c;
  margin-left: 10px;
}
#main-nav.navbar-default .navbar-nav > li > a .icon {
  margin-right: 10px;
  color: #cccccc;
}
#main-nav.navbar-default .navbar-nav > li.open > a {
  background: none;
}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li:hover > a {
  color: #e74c3c;
  background: none;
  position: relative;
  display: block;
}
#main-nav.navbar-default .navbar-nav > li.active > a:after, #main-nav.navbar-default .navbar-nav > li:hover > a:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #e74c3c;
  position: absolute;
  top: -4px;
  left: 0;
}
#main-nav.navbar-default .navbar-nav > li:hover > a > .icon {
  color: #566473;
}
#main-nav.navbar-default .dropdown-menu {
  top: 85px;
  left: 0;
  padding: 0;
  background: #fff;
  border: none;
  border-top: 3px solid #e74c3c;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#main-nav.navbar-default .dropdown-menu > li > a {
  background: #fff;
  color: #888;
  border: 1px solid #ddd;
  border-top: none;
  padding: 12px 20px;
  font-size: 12px;
  position: relative;
  text-transform: capitalize;
  display: block;
}
#main-nav.navbar-default .dropdown-menu > li:first-child > a {
  border-top: none;
}
#main-nav.navbar-default .dropdown-menu > li:hover > a, #main-nav.navbar-default .dropdown-menu > li.active > a {
  background: #f7f7f7;
}
@media (max-width: 991px) {
  #main-nav.navbar-default .navbar-nav > li > a {
    padding: 0 13px;
  }
}
@media (max-width: 767px) {
  #main-nav.navbar-default .navbar-header {
    margin: 0;
  }
  #main-nav.navbar-default .navbar-collapse {
    border: none;
    padding: 0 15px 15px 15px;
  }
  #main-nav.navbar-default .navbar-nav {
    margin: 0;
  }
  #main-nav.navbar-default .navbar-nav > li > a {
    background: #2c3e50;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 1;
    font-size: 12px;
    padding: 15px 20px;
  }
  #main-nav.navbar-default .navbar-nav > li > a .parent-symbol {
    float: right;
    line-height: 1;
    margin: 0;
    color: #fff;
  }
  #main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li:hover > a, #main-nav.navbar-default .navbar-nav > li.open > a {
    background: #415161;
    color: #fff;
  }
  #main-nav.navbar-default .navbar-nav > li.active > a:after, #main-nav.navbar-default .navbar-nav > li:hover > a:after, #main-nav.navbar-default .navbar-nav > li.open > a:after {
    display: none;
  }
  #main-nav.navbar-default .dropdown-menu {
    border: none;
  }
  #main-nav.navbar-default .dropdown-menu > li > a {
    background: #e9ebed;
    border-bottom: 1px solid #d4d8dc;
    color: #2c3e50;
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: none;
  }
  #main-nav.navbar-default .dropdown-menu > li:hover > a, #main-nav.navbar-default .dropdown-menu > li.active > a {
    background: #f7f7f7;
  }
}

/* NAVIGATION FORM ELEMENTS
-------------------------------------------------- */
#main-nav.navbar-default .navbar-form {
  margin: 25px 0;
  padding: 0;
}
#main-nav.navbar-default .navbar-form .btn, #main-nav.navbar-default .navbar-form .form-control {
  padding: 0 12px;
  line-height: 34px;
  height: 34px;
  font-size: 13px;
  font-family: "Roboto Condensed";
}
#main-nav.navbar-default .navbar-form.header-search .btn, #main-nav.navbar-default .navbar-form.header-search .form-control {
  float: right;
  border-right: none;
}
#main-nav.navbar-default .navbar-form + .navbar-form {
  padding-right: 20px;
}
#main-nav.navbar-default .nav-buttons + .navbar-form {
  padding-right: 20px;
}
@media (max-width: 767px) {
  #main-nav.navbar-default .navbar-form {
    margin: 0;
    padding: 15px 20px;
    background: #2c3e50;
  }
  #main-nav.navbar-default .navbar-form.header-search {
    display: block;
    float: none;
    position: relative;
  }
  #main-nav.navbar-default .navbar-form.header-search .btn {
    float: none;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  #main-nav.navbar-default .navbar-form.header-search .form-control {
    float: none;
    display: block;
  }
  #main-nav.navbar-default .navbar-form + .navbar-form {
    padding-right: 0;
  }
  #main-nav.navbar-default .nav-buttons + .navbar-form {
    padding-right: 20px;
  }
}

/* NAVIGATION LINK BUTTONS
-------------------------------------------------- */
#main-nav.navbar-default .nav-buttons + .nav-buttons {
  padding-right: 20px;
}
@media (max-width: 992px) {
  #main-nav.navbar-default .nav-buttons + .nav-buttons {
    padding-right: 13px;
  }
}
#main-nav.navbar-default .navbar-nav.nav-buttons > li:hover > a:after, #main-nav.navbar-default .navbar-nav.nav-buttons > li.active > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background: none;
  border: none;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: -1px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#main-nav.navbar-default .navbar-nav.nav-buttons > li > a {
  padding: 0 17px;
  text-align: center;
  line-height: 34px;
  height: 34px;
  margin: 25px 0;
  font-size: 13px;
  font-family: "Roboto Condensed";
  color: #fff;
  background-color: #e74c3c;
  text-transform: capitalize;
}
#main-nav.navbar-default .navbar-nav.nav-buttons > li > a .fa {
  font-size: 13px;
}
#main-nav.navbar-default .navbar-nav.nav-buttons > li > a .fa + span {
  margin-left: 10px;
}
#main-nav.navbar-default .navbar-nav.nav-buttons > li > a .xs-only {
  display: none;
}
#main-nav.navbar-default .navbar-nav.nav-buttons > li > a.bg-1 {
  background: #F5F5F5;
  border: 1px solid #ddd;
  color: #888;
}
#main-nav.navbar-default .navbar-nav.nav-buttons > li > a.bg-1 .fa {
  color: #566473;
}
#main-nav.navbar-default .navbar-nav.nav-buttons > li > a.bg-2 {
  background: #566473;
}
#main-nav.navbar-default .navbar-nav.nav-buttons .top-bar-toggle .symbol:after {
  content: "+";
  font: normal 20px "Roboto Black";
  line-height: 34px;
  display: block;
}
#main-nav.navbar-default .navbar-nav.nav-buttons .top-bar-toggle.open .symbol:after {
  content: "-";
}
@media (max-width: 991px) {
  #main-nav.navbar-default .navbar-nav.nav-buttons > li > a {
    padding: 0 13px;
  }
}
@media (max-width: 767px) {
  #main-nav.navbar-default .navbar-nav.nav-buttons {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #main-nav.navbar-default .navbar-nav.nav-buttons .top-bar-toggle {
    display: none;
  }
  #main-nav.navbar-default .navbar-nav.nav-buttons > li > a {
    margin: 0;
    padding: 15px 20px;
    height: auto;
    line-height: 1;
    text-align: left;
    border: none !important;
  }
  #main-nav.navbar-default .navbar-nav.nav-buttons > li > a .xs-only {
    display: inline-block;
  }
}

/* FOOTER
-------------------------------------------------- */
#footer {
  background: #233140;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#footer .line-title {
  color: #fff;
  text-transform: uppercase;
}
#footer .top {
  padding-top: 60px;
  min-height: 330px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
#footer .top h5 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 0 20px 0;
  display: block;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
  color: #fff;
}
#footer .top h5:after {
  content: "";
  height: 1px;
  background: #e74c3c;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 60px;
}
#footer .bottom {
  height: 60px;
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#footer .bottom .copy-text {
  line-height: 59px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 11px;
  float: left;
}
#footer .bottom .copy-text a {
  color: rgba(255, 255, 255, 0.7);
}
#footer .bottom .copy-text a:hover {
  color: #fff;
}
#footer .bottom .social-buttons {
  float: right;
  margin-top: 12px;
}
#footer .bottom .social-buttons .fa {
  opacity: 0.6;
}
#footer .bottom .social-buttons .fa:hover {
  opacity: 1;
}
#footer .newsletter-signup .form-control {
  border: none;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
}
#footer .newsletter-signup .btn {
  padding: 0 12px;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
}
#footer .links {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .links li {
  line-height: 2em;
}
#footer .links li a {
  color: rgba(255, 255, 255, 0.5);
  display: block;
}
#footer .links li a:hover {
  color: #fff;
}
#footer .links.underline li {
  line-height: 2.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
#footer .links.underline li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#footer .links.underline li:last-child, #footer .links.underline li:last-child a {
  border: none;
}
@media (max-width: 991px) {
  #footer .top {
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  #footer .top {
    font-size: 11px;
    min-height: 0;
    padding: 40px 0;
  }
  #footer .top .row .col-md-3 {
    margin: 15px 0;
  }
  #footer .top .row .col-md-3:nth-child(1), #footer .top .row .col-md-3:nth-child(2) {
    display: none;
  }
  #footer .bottom {
    height: auto;
    padding: 10px 0;
    text-align: center;
  }
  #footer .bottom .copy-text {
    float: none;
    line-height: 1;
    padding: 20px 0;
    margin-top: 15px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    display: block;
  }
  #footer .bottom .social-buttons {
    float: none;
  }
}

/* FOOTER FLICKR STREAM
-------------------------------------------------- */
#footer .photo-stream {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .photo-stream > li {
  background: rgba(0, 0, 0, 0.2);
  height: 30%;
  width: 30%;
  display: block;
  float: left;
  margin: 0 5% 5% 0;
  opacity: 0.8;
}
#footer .photo-stream > li:nth-child(3n) {
  margin-right: 0;
}
#footer .photo-stream > li img {
  padding: 6px;
  width: 100%;
  height: auto;
}
#footer .photo-stream > li:hover {
  opacity: 1;
}

/* FOOTER TWEETS
-------------------------------------------------- */
ul.tweetList {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
ul.tweetList > li > p {
  display: block;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  position: relative;
  font-size: 11px;
}
ul.tweetList > li > p:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background: none;
  border: none;
  border-top: 10px solid rgba(255, 255, 255, 0.05);
  border-right: 7.5px solid transparent;
  border-left: 7.5px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 30px;
}
@media (max-width: 991px) {
  ul.tweetList > li > p {
    font-size: 10px;
    padding: 10px;
  }
}
ul.tweetList a {
  color: #fff;
}
ul.tweetList .timestamp {
  margin: 0;
}
ul.tweetList .fa {
  font-size: 30px;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}

/* FOOTER PAYMENTS
-------------------------------------------------- */
#footer .payment-methods {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .payment-methods > li {
  display: block;
  float: left;
  line-height: 1;
  margin: 0 4% 4% 0;
  width: 22%;
}
#footer .payment-methods > li:nth-child(4n) {
  margin-right: 0;
}
#footer .payment-methods > li > img {
  display: block;
  max-width: 100%;
}

/* BOXED LAYOUT
-------------------------------------------------- */
@media (min-width: 768px) {
  #page-wrapper {
    max-width: 800px;
  }
  #page-wrapper #header {
    width: 800px;
  }
  #page-wrapper .container {
    max-width: 750px !important;
    width: auto !important;
  }
}
@media (min-width: 992px) {
  #page-wrapper {
    max-width: 1020px;
  }
  #page-wrapper #header {
    width: 1020px;
  }
  #page-wrapper .container {
    max-width: 970px !important;
    width: auto !important;
  }
}
@media (min-width: 1200px) {
  #page-wrapper {
    max-width: 1220px;
  }
  #page-wrapper #header {
    width: 1220px;
  }
  #page-wrapper .container {
    max-width: 1170px !important;
    width: auto !important;
  }
}

/* ========================================================== 
   COMMON MODULES
=============================================================*/
/* SOCIAL BUTTONS
---------------------------------------------------*/
.social-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-buttons li {
  display: inline-block;
  margin: 0 6px 0 0;
}
.social-buttons a {
  display: block;
  color: white;
}
.social-buttons .fa {
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  width: 35px;
  display: block;
}
.social-buttons .white-outline .fa {
  border: 1px solid #fff;
}
.social-buttons.colored-bg .fa-facebook {
  background-color: #5371ad;
}
.social-buttons.colored-bg .fa-twitter {
  background-color: #2aa9e0;
}
.social-buttons.colored-bg .fa-google-plus {
  background-color: #d34829;
}
.social-buttons.colored-bg .fa-rss {
  background-color: #ef5c29;
}
.social-buttons.colored-bg .fa-linkedin {
  background-color: #016597;
}
.social-buttons.colored-bg .fa-skype {
  background-color: #37c5f5;
}
.social-buttons.colored-bg .fa-pinterest {
  background-color: #ce2127;
}
.social-buttons.colored-bg-1 .fa {
  background-color: #e74c3c;
  color: #fff;
}
.social-buttons.colored-bg-2 .fa {
  background-color: #566473;
  color: #fff;
}
.social-buttons.colored-bg-on-hover .fa-facebook:hover {
  background-color: #5371ad;
  color: #fff;
}
.social-buttons.colored-bg-on-hover .fa-twitter:hover {
  background-color: #2aa9e0;
  color: #fff;
}
.social-buttons.colored-bg-on-hover .fa-google-plus:hover {
  background-color: #d34829;
  color: #fff;
}
.social-buttons.colored-bg-on-hover .fa-rss:hover {
  background-color: #ef5c29;
  color: #fff;
}
.social-buttons.colored-bg-on-hover .fa-linkedin:hover {
  background-color: #016597;
  color: #fff;
}
.social-buttons.colored-bg-on-hover .fa-skype:hover {
  background-color: #37c5f5;
  color: #fff;
}
.social-buttons.colored-bg-on-hover .fa-pinterest:hover {
  background-color: #ce2127;
  color: #fff;
}
.social-buttons.colored .fa-facebook {
  color: #5371ad;
  background: #f2f2f2;
}
.social-buttons.colored .fa-twitter {
  color: #2aa9e0;
  background: #f2f2f2;
}
.social-buttons.colored .fa-google-plus {
  color: #d34829;
  background: #f2f2f2;
}
.social-buttons.colored .fa-rss {
  color: #ef5c29;
  background: #f2f2f2;
}
.social-buttons.colored .fa-linkedin {
  color: #016597;
  background: #f2f2f2;
}
.social-buttons.colored .fa-skype {
  color: #37c5f5;
  background: #f2f2f2;
}
.social-buttons.colored .fa-pinterest {
  color: #ce2127;
  background: #f2f2f2;
}
.social-buttons.round .fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

/* CONTACT
-------------------------------------------------- */
.contact-form {
  margin: 0 auto;
}
.contact-form .col {
  width: 48%;
}
.contact-form input[type="text"] {
  height: auto;
  margin: 0 0 20px;
  padding: 13px;
  border: 1px solid #ddd;
  font-size: 12px;
}
.contact-form textarea {
  height: 201px;
  margin: 0 0 20px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 12px;
}
.contact-form .btn {
  padding: 13px 20px;
  text-align: left;
}
.contact-form .btn .fa {
  margin: 0 0 0 30px;
}
.contact-form.home-contact {
  width: 80%;
}
.contact-form.home-contact .btn {
  width: 100%;
  padding: 13px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-form.home-contact {
    width: 100%;
  }
}

/* SIDE INFO
-------------------------------------------------- */
.side-info {
  background: #f2f2f2;
  padding: 20px;
}
.side-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.side-info ul li {
  display: block;
  line-height: 1;
  margin: 0 0 10px 0;
}
.side-info ul li:last-child {
  margin: 0;
}
.side-info ul li .fa {
  display: inline-block;
  text-align: center;
  line-height: 25px;
  width: 25px;
  background: #e74c3c;
  color: #fff;
  display: inline-block;
  margin: 0 10px 0 0;
}

/* MAPS
-------------------------------------------------- */
.map {
  overflow: hidden;
  position: relative;
  height: 270px;
  margin-bottom: 30px;
  background: #eeeeee url("../images/map.jpg") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
.map .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  background: rgba(44, 62, 80, 0.8);
}
.map .overlay .link {
  display: table;
  height: 100%;
  width: 100%;
}
.map .overlay a {
  color: #fff;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.map .overlay a .fa {
  color: #fff;
  font-size: 30px;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto 10px auto;
}
.map:hover .overlay {
  opacity: 1;
}
.map.side-map {
  height: 200px;
}

/* MAP MODAL
-------------------------------------------------- */
.map-modal iframe {
  width: 100%;
  height: 350px;
  border: none;
  overflow: none;
}
.map-modal .modal-header {
  margin: 0;
  padding-bottom: 0;
}

/* SEARCH
---------------------------------------------------*/
.search {
  background: none;
  padding: 0;
  width: 35px;
  height: 35px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.search.open {
  width: 230px;
}
.search.open input {
  display: block;
}
.search .wrapper {
  position: relative;
  background: none;
  display: block;
}
.search input {
  background: none repeat scroll 0 0 #F7F8F8;
  border: 0px solid #ddd;
  color: #888;
  height: 35px;
  padding: 0 10px 0 35px;
  width: 100%;
  display: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -o-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.search .search-btn {
  background: none;
  border: 0;
  font: 0px/0 a;
  height: 35px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  z-index: 3;
  text-align: center;
  color: #888;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.search .search-btn:after {
  content: "\f002";
  font-family: "FontAwesome";
  font-size: 16px;
  line-height: 1;
  right: 1px;
  text-align: center;
  z-index: 400;
}
.search .search-btn:hover {
  color: #333;
}
.search .toggle {
  background-color: #e74c3c;
  color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  display: inline-block;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  width: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.search .toggle:before {
  content: "\f002";
  font-family: "FontAwesome";
  font-size: 16px;
  line-height: 1;
  right: 1px;
  z-index: 400;
}
.search .toggle.open:before {
  content: "\f00d";
}

/* ERROR PAGES
-------------------------------------------------- */
.error-info {
  color: #fff;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
}
.error-info .pull-left, .error-info .pull-right {
  width: 50%;
}
.error-info .pull-left {
  text-align: right;
  padding: 0 30px 0 0;
}
.error-info .pull-right {
  padding: 30px 0 30px 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: -1px 0 0 0 rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 0 0 0 rgba(0,0,0,0.1);
  -o-box-shadow: -1px 0 0 0 rgba(0,0,0,0.1);
  -ms-box-shadow: -1px 0 0 0 rgba(0,0,0,0.1);
  box-shadow: -1px 0 0 0 rgba(0,0,0,0.1);
}
.error-info h4 {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
.error-info h1 {
  font-size: 170px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 1;
}
.error-info p {
  margin: 0 0 30px 0;
  color: rgba(255, 255, 255, 0.7);
}
.error-info .btn {
  padding: 13px 0;
  width: 48%;
  text-align: center;
}
@media (max-width: 991px) {
  .error-info h1 {
    font-size: 150px;
  }
}
@media (max-width: 767px) {
  .error-info div.pull-left, .error-info div.pull-right {
    float: none;
    width: 100%;
    margin: 15px 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
  }
  .error-info h1 {
    font-size: 80px;
    margin: 0;
  }
  .error-info .btn {
    font-size: 11px;
    padding: 10px 0;
  }
}

/* ========================================================== 
   BUSINESS MODULES
=============================================================*/
/* SERVICE BOXES
-------------------------------------------------- */
.service-box {
  text-align: center;
  padding: 40px 20px 20px 20px;
  border: 1px solid #ddd;
  margin: 15px 0;
}

.service-box.no-border {
  padding: 0;
  border: none;
}

.service-box h4 {
  margin: 0 0 10px 0;
  text-transform: capitalize;
}

.service-box p {
  margin: 0 0 20px 0;
  font-weight: normal;
}

.service-box .icon {
  display: inline-block;
  line-height: 90px;
  width: 90px;
  font-size: 35px;
  margin: 0 0 25px 0;
  color: #fff;
  background: #e74c3c;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* PRICE PLANS
------------------------------------------------- */
.price-plan {
  text-align: center;
  margin: 0 0 30px 0;
}
.price-plan .title {
  color: #FFFFFF;
  background: #415161;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 30px 0;
}
.price-plan .price-box {
  background: #f7f7f7;
  padding: 30px 0;
}
.price-plan .price {
  font: bold 30px "Roboto Condensed";
  text-align: center;
  color: #fff;
  margin: 0 auto;
  background: #566473;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  width: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.price-plan .features {
  background: #f7f7f7;
  margin: 0;
  padding: 20px 20px 40px 20px;
  width: 100%;
  list-style: none;
}
.price-plan .features > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 45px;
  padding: 0;
  color: #2c3e50;
}
.price-plan .features > li:last-child {
  border: none;
}
.price-plan .footer {
  padding: 40px 0;
  background: #566473;
}
.price-plan .btn {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.1);
}
.price-plan.featured .price, .price-plan.featured .title, .price-plan.featured .footer {
  background-color: #e74c3c;
}
.price-plan.featured .btn {
  background-color: #fff;
  color: #e74c3c;
}

.dark-bg .features, .dark-bg .price-box {
  background: #fff;
}

/* TESTIMONIALS
-------------------------------------------------- */
.testimonial .avatar {
  width: 18%;
  float: left;
}
.testimonial .avatar img {
  width: 100%;
  margin: 10px 0 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.testimonial .quote-box {
  width: 75%;
  float: right;
  padding: 0;
}
.testimonial .quote-box .author {
  margin: 15px 0 0 0;
  font: normal 14px "Roboto Condensed Light";
  color: #888888;
}
.testimonial .quote-box .author strong {
  margin-right: 5px;
}
.testimonial .quote-box .quote {
  margin: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 20px;
  line-height: 1.7em;
  display: block;
  color: #888;
  font-size: 13px;
  font-style: italic;
  line-height: 1.6em;
  position: relative;
}
.testimonial .quote-box .quote .arrow {
  width: 0;
  height: 0;
  background: none;
  display: block;
  width: 0;
  height: 0;
  background: none;
  border: none;
  border-right: 16px solid #f2f2f2;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 40%;
  left: -16px;
}

.testimonial.right .quote-box, .slider-mode li:nth-child(2n) .testimonial .quote-box {
  float: left;
}
.testimonial.right .quote-box .author, .slider-mode li:nth-child(2n) .testimonial .quote-box .author {
  text-align: right;
  color: #888888;
}
.testimonial.right .avatar, .slider-mode li:nth-child(2n) .testimonial .avatar {
  float: right;
}
.testimonial.right .quote, .slider-mode li:nth-child(2n) .testimonial .quote {
  color: #888888;
  background: #f2f2f2;
}
.testimonial.right .quote .arrow, .slider-mode li:nth-child(2n) .testimonial .quote .arrow {
  left: auto;
  right: -16px;
  border: none;
  display: block;
  width: 0;
  height: 0;
  background: none;
  border: none;
  border-left: 16px solid #f2f2f2;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* TESTIMONIALS DARK-BG VERSION
-------------------------------------------------- */
.testimonial.dark-bg .author, .slider-mode.dark-bg .testimonial .author {
  color: white;
}
.testimonial.dark-bg .quote, .slider-mode.dark-bg .testimonial .quote {
  color: white;
  background: rgba(255, 255, 255, 0.2);
}
.testimonial.dark-bg .quote .arrow, .slider-mode.dark-bg .testimonial .quote .arrow {
  display: block;
  width: 0;
  height: 0;
  background: none;
  border: none;
  border-right: 16px solid rgba(255, 255, 255, 0.2);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.testimonial.right.dark-bg .quote-box .author, .slider-mode.dark-bg li:nth-child(2n) .testimonial .quote-box .author {
  color: white;
}
.testimonial.right.dark-bg .quote, .slider-mode.dark-bg li:nth-child(2n) .testimonial .quote {
  color: white;
  background: rgba(255, 255, 255, 0.2);
}
.testimonial.right.dark-bg .quote .arrow, .slider-mode.dark-bg li:nth-child(2n) .testimonial .quote .arrow {
  display: block;
  width: 0;
  height: 0;
  background: none;
  border: none;
  border-left: 16px solid rgba(255, 255, 255, 0.2);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* TESTIMONIALS SLIDER
-------------------------------------------------- */
.testimonial-slider.no-js li {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.testimonial-slider.no-js li:nth-child(2n) {
  margin-right: 0;
}
.testimonial-slider.no-js li:nth-child(n + 3) {
  display: none;
}

.testimonial-slider .bx-wrapper .bx-controls-direction {
  top: auto;
  bottom: auto;
  position: static;
  margin-top: 20px;
}

/* TEAM
-------------------------------------------------- */
.person {
  margin: 15px 0;
}
.person .image {
  margin: 0;
  position: relative;
}
.person .overlay {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #e74c3c;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.person .overlay:hover {
  opacity: 1;
}
.person .links {
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
}
.person .links .wrapper {
  display: table-cell;
  vertical-align: middle;
}
.person .links a {
  display: inline-block;
  margin: 0 3px;
}
.person .links .fa {
  font-size: 20px;
  display: block;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
.person .links .fa:hover {
  background: #fff;
  color: #e74c3c;
}
@media (max-width: 767px) {
  .person .links .fa {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
  }
}
.person .text {
  text-align: center;
  background: #F7F8F8;
  padding: 20px 0;
}
.person .text h4 {
  margin: 0 0 5px 0;
  font-weight: normal;
}
.person .text span {
  text-transform: uppercase;
  font-size: 11px;
}
@media (max-width: 767px) {
  .person .text {
    padding: 10px;
  }
  .person .text h4 {
    font-size: 17px;
  }
  .person .text span {
    font-size: 9px;
  }
}

/* ========================================================== 
   SHOP MODULES
=============================================================*/
/* PRODUCT
---------------------------------------------------------- */
.product {
  border: 1px solid #ddd;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 3px 0 -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 3px 0 -2px rgba(0,0,0,0.2);
  -o-box-shadow: 0 3px 0 -2px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 3px 0 -2px rgba(0,0,0,0.2);
  box-shadow: 0 3px 0 -2px rgba(0,0,0,0.2);
}
.product .image {
  position: relative;
}
.product .image a.main img {
  width: 100%;
  height: 100%;
}
.product .image .additional {
  opacity: 0;
  background: #fff;
  margin: 0;
  list-style: none;
  padding: 0;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.product .image .additional > li {
  width: 50%;
  height: 50%;
  float: left;
  opacity: 0.6;
}
.product .image .additional > li:hover {
  opacity: 1;
}
.product .image:hover .additional {
  opacity: 1;
}
.product .title {
  border-bottom: 1px solid #ddd;
  margin: 0 0 8px 0;
  padding: 0 0 0 5px;
}
.product .title a.name {
  color: #566473;
  font-size: 14px;
  font-family: "Roboto Condensed";
  line-height: 45px;
  font-weight: normal;
}
.product .title .description {
  display: none;
}
.product .links {
  height: 25px;
}
.product .links .price {
  float: left;
  color: #e74c3c;
  line-height: 25px;
  padding: 0 0 0 5px;
  font-weight: normal;
  font-size: 16px;
  font-family: "Roboto Condensed";
}
.product .links a {
  float: right;
  line-height: 25px;
  text-align: center;
  width: 25px;
  display: inline-block;
  margin: 0 0 0 5px;
  background-color: #ccc;
  color: #fff;
  border: none;
}
.product .links a:hover {
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
}
.product .links a span {
  display: none;
}
.product .links a.cart {
  background-color: #e74c3c;
}
.product .links a.compare {
  background-color: #566473;
}
.product .links a.wishlist {
  background-color: #bfc5ca;
}

/* SIDE PRODUCTS
---------------------------------------------------------- */
ul.side-products {
  margin: 0;
  padding: 10px 0 0 0px;
  list-style: none;
}
ul.side-products > li {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px dotted #ccc;
}
ul.side-products > li:last-child {
  border: none;
}
ul.side-products > li .image {
  width: 35%;
  float: left;
}
ul.side-products > li .image img {
  max-width: 100%;
}
ul.side-products > li .text {
  width: 61%;
  float: right;
}
ul.side-products > li .name {
  margin: 6px 0 6px 0;
  display: block;
  font-size: 12px;
}
ul.side-products > li .price {
  color: #e74c3c;
  font-size: 12px;
}
ul.side-products > li .price-old {
  font-size: 9px;
  font-weight: normal;
  text-decoration: line-through;
  color: #ccc;
}

/* PRODUCT SLIDER
---------------------------------------------------------- */
.products-slider + .products-slider {
  margin-top: 60px;
}

.products-slider .slider-title {
  line-height: 30px;
  margin: 0 0 30px 0;
  padding: 0 0 20px 0;
  border-bottom: 2px solid #566473;
  position: relative;
}
.products-slider .slider-title .fa {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  color: #f2f2f2;
  background: #e74c3c;
  margin-right: 10px;
}
.products-slider .bx-wrapper .bx-pager, .products-slider .bx-wrapper .bx-controls-auto {
  bottom: auto;
  text-align: right;
}
.products-slider .bx-controls-direction {
  position: absolute;
  margin: 0;
  width: auto;
  left: auto;
  right: 0;
  text-align: right;
  top: -80px;
  height: 37px;
}
.products-slider .bx-controls-direction a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
}

.products-slider.no-js {
  overflow: hidden;
}
.products-slider.no-js .slide {
  float: left;
  width: 22%;
  margin-right: 4%;
}
.products-slider.no-js .slide:nth-child(4n) {
  margin-right: 0;
}
.products-slider.no-js .slide:nth-child(n + 5) {
  display: none;
}
@media (max-width: 767px) {
  .products-slider.no-js .slide {
    float: left;
    width: 100%;
    margin-right: 0;
  }
  .products-slider.no-js .slide:nth-child(n + 2) {
    display: none;
  }
}

/* PRODUCT DETAILS
------------------------------------------------- */
#product-details {
  margin-bottom: 30px;
}
#product-details .main-image {
  float: right;
  width: 80%;
}
#product-details .main-image img {
  width: 100%;
  height: auto;
}
#product-details .additional-images {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 17%;
  float: left;
}
#product-details .additional-images li {
  margin-bottom: 20px;
}
#product-details .additional-images li img {
  max-width: 100%;
  height: auto;
}
#product-details .product-info .title {
  margin: 0;
}
#product-details .product-info .price-box {
  border: 2px solid #eee;
  padding: 15px 10px;
}
#product-details .product-info .price-box .price {
  color: #e74c3c;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
  float: left;
}
#product-details .product-info .price-box span {
  float: right;
  line-height: 20px;
}
#product-details .product-info .review-box {
  padding: 20px 0;
  text-align: right;
}
#product-details .product-info .review-box .rating {
  float: left;
  margin-right: 10px;
}
#product-details .product-info .review-box .rating .fa {
  font-size: 15px;
}
#product-details .product-info .review-box span {
  display: inline-block;
  line-height: 15px;
}
#product-details .product-info .attributes-box {
  padding: 20px 0;
}
#product-details .product-info .attributes-box strong {
  margin-right: 10px;
}
#product-details .product-info .options-box {
  padding: 0;
}
#product-details .product-info .options-box select {
  display: block;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
}
#product-details .product-info .buy-box input {
  display: inline-block;
  border: 1px solid #ddd;
  width: 50px;
  text-align: center;
  height: 35px;
}
#product-details .product-info .buy-box span {
  display: inline-block;
  line-height: 35px;
  margin-right: 10px;
}
#product-details .product-info .buy-box .btn {
  margin-right: 10px;
  padding: 0 20px;
  line-height: 45px;
  font-size: 15px;
  font-family: "Roboto Condensed";
}
#product-details .product-info .product-nav-tabs > li > a {
  color: #333;
  font-weight: 600;
  font-size: 14px;
}

/* RATINGS
-------------------------------------------------- */
.rating .fa {
  color: #ed7669;
}
.rating .fa.disabled {
  color: #e5e5e5;
}

/* PRODUCT GRID
---------------------------------------------------------- */
.product-grid {
  list-style: none;
  height: auto;
  padding: 0;
}
.product-grid .product {
  margin: 15px 0;
}

/* PRODUCT LISTVIEW
---------------------------------------------------------- */
.product-grid.listview .product .image {
  width: 25%;
  float: left;
}
.product-grid.listview .product .title {
  float: right;
  width: 73%;
  height: auto;
  margin: 10px 0 20px 0;
}
.product-grid.listview .product .title a.name {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  line-height: 1;
}
.product-grid.listview .product .description {
  display: block;
  margin: 0;
  line-height: 1.5em;
}
.product-grid.listview .product .links {
  float: right;
  width: 73%;
  height: auto;
  text-align: left;
}
.product-grid.listview .product .links a {
  display: inline-block;
  float: none;
  width: auto;
  padding: 5px 20px;
}
.product-grid.listview .product .links a .fa {
  margin-right: 10px;
}
.product-grid.listview .product .links a span {
  display: inline-block;
}
.product-grid.listview .product .price {
  display: block;
  float: none;
  margin-bottom: 15px;
  font-size: 16px;
}

/* PRODUCTS FILTER
---------------------------------------------------------- */
.products-filter {
  background: #f7f7f7;
  border: 1px solid #d8d8d8;
  padding: 8px 15px;
  margin-bottom: 15px;
  font-size: 12px;
  position: relative;
  overflow: auto;
}
.products-filter .display {
  float: left;
  font-size: 11px;
  font-weight: normal;
  line-height: 31px;
}
.products-filter .display .show-grid, .products-filter .display .show-list {
  display: inline-block;
  cursor: pointer;
  line-height: 22px;
  margin-right: 10px;
}
.products-filter .display .fa {
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  line-height: 22px;
  vertical-align: middle;
}
.products-filter .display .fa:hover {
  color: #e74c3c;
}
.products-filter .sort {
  float: right;
  margin-right: 20px;
}
.products-filter .limit {
  float: right;
}
.products-filter select {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 12px;
  color: #666;
  display: inline-block;
}

/* CART
---------------------------------------------------------- */
.cart {
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid #ddd;
}

.cart-buttons .btn {
  width: 28%;
  padding: 15px 0;
  float: right;
  margin-left: 20px;
}

/* CART CONTENTS
---------------------------------------------------------- */
table.cart-contents {
  width: 100%;
  margin: 0;
}
table.cart-contents thead {
  background: #F9F9F9;
  border-bottom: 1px solid #ddd;
}
table.cart-contents thead th {
  margin: 0;
  font-size: 16px;
}
table.cart-contents tbody tr {
  border-bottom: 1px solid #ddd;
}
table.cart-contents tbody tr:hover {
  background: #fcfcfc;
}
table.cart-contents th, table.cart-contents td {
  padding: 20px;
  border-left: 1px solid #ddd;
}
table.cart-contents th:first-child, table.cart-contents td:first-child {
  border-left: none;
}
table.cart-contents td {
  vertical-align: top;
}
table.cart-contents .image {
  width: 12%;
}
table.cart-contents .image img {
  width: 100%;
  height: auto;
}
table.cart-contents .details .rating {
  margin-bottom: 10px;
}
table.cart-contents .details .title {
  display: block;
  color: #333;
  font-size: 14px;
  font-family: "Roboto Condensed";
  text-transform: capitalize;
  margin: 0 0 10px 0;
}
table.cart-contents .details span {
  display: block;
  margin: 0 0 5px 0;
  line-height: 1;
  font-size: 12px;
}
table.cart-contents .action {
  width: 110px;
}
table.cart-contents .action button {
  float: left;
  border: none;
  text-align: center;
  color: #fff;
  padding: 0;
  width: 33%;
  line-height: 30px;
}
table.cart-contents .action button.refresh {
  background-color: #959ea7;
}
table.cart-contents .action button.edit {
  background-color: #6b7784;
}
table.cart-contents .action button.delete {
  background-color: #e74c3c;
}
table.cart-contents .action button:hover {
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
}
table.cart-contents .qty {
  width: 9%;
}
table.cart-contents .qty input {
  border: 1px solid #ddd;
  height: 30px;
  padding: 0;
  width: 100%;
  text-align: center;
}
table.cart-contents .unit-price, table.cart-contents .total-price {
  width: 14%;
  font-size: 16px;
  color: #666;
  font-weight: normal;
  font-family: "Roboto Condensed";
}
table.cart-contents .total-price {
  color: #e74c3c;
}
table.cart-contents .currency {
  margin-right: 3px;
}

/* CART SUMMARY
---------------------------------------------------------- */
.cart-summary
.terms {
  padding: 0 40px;
  color: #999;
  font-size: 12px;
  width: 72%;
  vertical-align: middle;
}
.cart-summary
.terms h5 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}
.cart-summary
.terms h5 .fa {
  margin-right: 10px;
  color: #ccc;
  font-size: 20px;
  vertical-align: middle;
}

.totals {
  width: 28%;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

.cart-totals {
  width: 100%;
  height: 100%;
}
.cart-totals tr {
  border-bottom: 1px solid #ddd;
}
.cart-totals tr:last-child {
  border: none;
}
.cart-totals td {
  border-left: 1px solid #ddd;
  width: 50%;
  padding: 7px 20px;
  color: #888;
}
.cart-totals td:first-child {
  border-left: none;
}
.cart-totals td.cart-total {
  font-family: "Roboto Condensed";
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  padding: 20px;
}
.cart-totals td.cart-total.price {
  color: #e74c3c;
}

@media (max-width: 767px) {
  table.cart-contents thead h5 {
    margin: 0;
    font-size: 14px;
  }
  table.cart-contents .total-price {
    width: 25%;
    font-size: 12px;
  }
  table.cart-contents .qty {
    width: 15%;
  }
  table.cart-contents .qty input {
    padding: 5px 0;
  }
  table.cart-contents th, table.cart-contents td {
    padding: 15px;
    border-right: 1px solid #ddd;
  }
  table.cart-contents .currency {
    margin-right: 0;
  }
  table.cart-contents .action {
    margin-top: 15px;
    float: none !important;
  }

  .cart-buttons .btn {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }

  .cart-summary .terms {
    display: none;
  }

  .cart-totals td {
    width: auto;
  }
  .cart-totals td.price {
    width: 40%;
  }
}
/* ========================================================== 
   BLOG MODULES
=============================================================*/
/* BLOG
-------------------------------------------------- */
.blog-entry {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #eee;
}
.blog-entry img {
  max-width: 100%;
  margin: 0 0 20px 0;
}
.blog-entry h4 {
  line-height: 1;
  margin: 0 0 20px 0;
  display: block;
}
.blog-entry h4 a {
  color: #323740;
}
.blog-entry .btn {
  font-size: 12px;
}
.blog-entry .meta {
  padding: 10px 10px;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.blog-entry .meta .fa {
  margin: 0 10px 0 0;
  color: #e95d4f;
}
.blog-entry .meta a {
  color: #6b7784;
}
.blog-entry .meta span {
  margin: 0 20px 0 0;
}
.blog-entry .meta span:hover a {
  color: #2c3e50;
}
.blog-entry .meta span:hover .fa {
  color: #e74c3c;
}
@media (max-width: 767px) {
  .blog-entry .meta {
    font-size: 11px;
  }
}

/* TAGS
---------------------------------------------------*/
ul.tags {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.tags li {
  display: block;
  float: left;
  margin: 0 7px 7px 0;
}
ul.tags li a {
  display: block;
  font-size: 12px;
  line-height: 1;
  border: 1px solid #959ea7;
  color: #959ea7;
  padding: 10px 15px;
}
ul.tags li a:hover {
  background: #e74c3c;
  border: 1px solid #b83c30;
  color: #fff;
}

/* BLOG COMMENTS
-------------------------------------------------- */
.comments-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.comments-list > li {
  display: block;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #eee;
}
.comments-list > li:last-child {
  border: none;
}
.comments-list .avatar {
  float: left;
  width: 9.6%;
}
.comments-list .avatar img {
  max-width: 100%;
  height: auto;
}
.comments-list .comment-box {
  float: right;
  width: 85.4%;
}
.comments-list .comment-box .username {
  font-weight: bold;
  float: left;
}
.comments-list .comment-box .date {
  float: right;
  color: #ccc;
}
.comments-list .comment-box .comment {
  width: 100%;
  float: left;
  margin: 20px 0 0 0;
}
@media (max-width: 767px) {
  .comments-list .comment-box .comment {
    font-size: 11px;
  }
}

/* ========================================================== 
   PORTFOLIO MODULES
=============================================================*/
/* PORTFOLIO
-------------------------------------------------- */
ul.portfolio-grid {
  list-style: none;
  padding: 0;
}

.project {
  position: relative;
  margin: 15px 0;
}
.project img {
  width: 100%;
}
.project .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: #e74c3c;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.project .overlay i {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
  font-size: 30px;
  display: inline-block;
  margin: 0 0 20px 0;
}
.project .overlay h4 {
  text-transform: capitalize;
  color: #fff;
  margin: 0 0 7px 0;
  line-height: 1;
}
.project .overlay span {
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
}
.project:hover > .overlay {
  opacity: 1;
}

/* PORTFOLIO FILTER
-------------------------------------------------- */
ul.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  margin: 0 0 40px 0;
}
ul.portfolio-filter > li {
  display: inline-block;
  line-height: 1;
  margin: 5px 2px 0 5px;
  color: #333;
}
ul.portfolio-filter > li > a {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: inherit;
  display: block;
  line-height: 40px;
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
}
ul.portfolio-filter > li:hover > a {
  background: #f2f2f2;
}
ul.portfolio-filter > li.active > a {
  background: #e74c3c;
  color: #fff;
}

/* PORTFOLIO SLIDER
-------------------------------------------------- */
.portfolio-slider.no-js {
  overflow: hidden;
}
.portfolio-slider.no-js li {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.portfolio-slider.no-js li:nth-child(3n) {
  margin-right: 0;
}
.portfolio-slider.no-js li:nth-child(n + 4) {
  display: none;
}

.portfolio-slider .bx-wrapper .bx-controls-direction {
  top: auto;
  bottom: auto;
  position: static;
  margin-top: 20px;
}

/* ========================================================== 
   SLIDERS
=============================================================*/
/* BXSLIDER THEME
-------------------------------------------------- */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #bfc5ca;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a:active {
  background: #e74c3c;
}
.bx-wrapper .bx-controls-direction a {
  color: #fff;
  border: none;
}
.bx-wrapper .bx-controls-direction a.bx-next {
  background: #566473;
}
.bx-wrapper .bx-controls-direction a.bx-next:hover {
  background: #2c3e50;
}
.bx-wrapper .bx-controls-direction a.bx-prev {
  background: #e74c3c;
  margin-left: 5px;
}
.bx-wrapper .bx-controls-direction a.bx-prev:hover {
  background: #d62c1a;
}

.dark-bg .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}
.dark-bg .bx-wrapper .bx-pager.bx-default-pager a:hover, .dark-bg .bx-wrapper .bx-pager.bx-default-pager a:active {
  background: #e74c3c;
}
.dark-bg .bx-wrapper .bx-controls-direction a {
  color: #fff;
  border: none;
}
.dark-bg .bx-wrapper .bx-controls-direction a.bx-next {
  background: rgba(255, 255, 255, 0.8);
  color: #2c3e50;
}
.dark-bg .bx-wrapper .bx-controls-direction a.bx-next:hover {
  background: #fff;
}

.no-js .bx-wrapper .bx-loading {
  display: none;
}

/* TEXT SLIDER
-------------------------------------------------- */
.text-slider {
  text-align: center;
}
.text-slider .slide {
  padding: 15px 0;
}
.text-slider .slide h2 {
  color: #fff;
  font: bold 45px "Roboto Condensed";
  margin: 0;
  text-transform: capitalize;
}
.text-slider .btn {
  padding: 13px 0;
  min-width: 200px;
  margin: 5px;
  -webkit-box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.2);
}
.text-slider .meta {
  color: #fff;
  margin: 15px 0 15px 0;
  text-transform: capitalize;
  font: normal 17px "Roboto Condensed Light";
  display: inline-block;
  position: relative;
  padding: 0 20px 0 20px;
}
.text-slider .meta:before {
  content: "\201C";
  font: bold 30px Arial;
  position: absolute;
  left: 0;
  top: 0;
}
.text-slider .meta:after {
  content: "\201D";
  font: bold 30px Arial;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 767px) {
  .text-slider .slide h2 {
    font-size: 25px;
  }
  .text-slider .meta {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .text-slider .slide h2 {
    font-size: 40px;
  }
  .text-slider .meta {
    font-size: 15px;
  }
}

.text-slider.no-js .slide {
  padding: 15px 0;
}
.text-slider.no-js li:nth-child(n + 2) {
  display: none;
}

.text-slider .bx-wrapper {
  height: auto;
  margin: 0;
}
.text-slider .bx-wrapper .bx-pager, .text-slider .bx-wrapper .bx-controls-auto {
  text-align: center;
  position: static;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.text-slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: #e74c3c;
  margin: 1px;
  border-radius: 0;
  height: 10px;
  width: 40px;
  line-height: 1;
}
.text-slider .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: rgba(255, 255, 255, 0.7);
}
.text-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}

/* ========================================================== 
   ACCOUNT
=============================================================*/
/* ACCOUNT FORMS
------------------------------------------------- */
.form-block {
  border: 1px solid #ddd;
}
.form-block .col {
  padding: 60px 40px;
  width: 50%;
}
.form-block .col.pull-right {
  border-left: 1px solid #ddd;
}
.form-block h4 {
  margin: 0 0 25px 0;
}
.form-block h4 > .fa {
  color: #ccc;
  margin: 0 10px 0 0;
}
.form-block .form-control, .form-block .checkbox {
  margin-bottom: 20px;
}
.form-block .btn {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .form-block .col {
    float: none !important;
    width: 100%;
  }
  .form-block .col.pull-right {
    border: none;
  }
  .form-block .col.pull-left {
    border-bottom: 1px solid #ddd;
  }
}

/* ========================================================== 
   MISC
=============================================================*/
/* STYLE SWITCHER
-------------------------------------------------- */
#style-switcher {
  position: fixed;
  right: 0;
  top: 130px;
  z-index: 20000;
  display: block;
}
#style-switcher .ctrl {
  float: left;
  color: #fff;
  background: #e74c3c;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-top: 20px;
}
#style-switcher .ctrl .fa {
  line-height: 40px;
  font-size: 18px;
  cursor: pointer;
}
#style-switcher .styles {
  float: left;
  padding: 10px 0 10px 10px;
  display: none;
  background: #fff;
  padding: 15px 20px 30px 20px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
}
#style-switcher .colors {
  margin: 0 0 10px 0;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 135px;
}
#style-switcher .colors li {
  display: block;
  float: left;
  margin: 0 5% 5% 0;
  cursor: pointer;
  width: 30%;
  padding: 12px 0;
}
#style-switcher .colors li:nth-child(3n) {
  margin-right: 0;
}
#style-switcher .colors li span {
  display: block;
  height: 12px;
  width: 12px;
  margin: auto;
  border-radius: 50%;
}
#style-switcher .bgs {
  margin: 0 0 10px 0;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 135px;
}
#style-switcher .bgs li {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
#style-switcher .bgs li:nth-child(4n) {
  margin-right: 0;
}
#style-switcher h5 {
  color: #fff;
  background: #566473;
  font-weight: normal;
  font-size: 12px;
  padding: 7px 10px;
  line-height: 1;
  margin: 15px 0 15px 0;
  text-transform: uppercase;
  width: 135px;
}
@media (max-width: 767px) {
  #style-switcher {
    display: none;
  }
}

/* DEMO STYLES
-------------------------------------------------- */
#page-wrapper.wide {
  max-width: 100% !important;
}
#page-wrapper.wide #header {
  width: 100% !important;
}
#page-wrapper.wide #header #main-nav {
  border-top: 4px solid #2c3e50;
}
#page-wrapper.wide #header #main-nav .container {
  border: none;
}

#page-wrapper.boxed #header #main-nav {
  border: none;
}
#page-wrapper.boxed #header #main-nav .container {
  border-top: 4px solid #2c3e50;
}
#page-wrapper.boxed #header #top-bar.open + #main-nav {
  border-top: 4px solid #2c3e50;
}
#page-wrapper.boxed #header #top-bar.open + #main-nav .container {
  border: none;
}
@media (min-width: 768px) {
  #page-wrapper.boxed {
    max-width: 800px;
  }
  #page-wrapper.boxed #header {
    width: 800px;
  }
  #page-wrapper.boxed .container {
    max-width: 750px !important;
    width: auto !important;
  }
}
@media (min-width: 992px) {
  #page-wrapper.boxed {
    max-width: 1020px;
  }
  #page-wrapper.boxed #header {
    width: 1020px;
  }
  #page-wrapper.boxed .container {
    max-width: 970px !important;
    width: auto !important;
  }
}
@media (min-width: 1200px) {
  #page-wrapper.boxed {
    max-width: 1220px;
  }
  #page-wrapper.boxed #header {
    width: 1220px;
  }
  #page-wrapper.boxed .container {
    max-width: 1170px !important;
    width: auto !important;
  }
}

.demo-icons {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.demo-icons li {
  display: block;
  float: left;
  margin: 0 2.6% 2.6% 0;
  text-align: center;
  width: 12%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

.demo-icons li:nth-child(7n) {
  margin-right: 0;
}

.demo-icons li .wrapper {
  border: 1px solid #DDDDDD;
  padding: 15px 0;
  text-align: center;
}

.demo-icons li i {
  display: inline-block;
  font-size: 32px;
  margin: 0 3px 0 0;
  vertical-align: middle;
  width: 30px;
}

.demo-btns .btn {
  margin: 5px 5px 5px 0;
}
