﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NAME: 1 COLUMN -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenid@@s a EnAutos.com</title>

    <style type="text/css">
        body, #bodyTable, #bodyCell {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        table {
            border-collapse: collapse;
        }

        img, a img {
            border: 0;
            outline: none;
            text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 1em 0;
            padding: 0;
        }

        a {
            word-wrap: break-word;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

        table, td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        #outlook a {
            padding: 0;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        body, table, td, p, a, li, blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        #bodyCell {
            padding: 20px;
        }

        .mcnImage {
            vertical-align: bottom;
        }

        .mcnTextContent img {
            height: auto !important;
        }

        body, #bodyTable {
            background-color: #eeeeee;
        }

        #bodyCell {
            border-top: 0;
        }

        #templateContainer {
            border: 0;
        }

        h1 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -1px;
            margin: 0;
            text-align: left;
        }

        h2 {
            color: #404040 !important;
            display: block;
            font-family: Helvetica;
            font-size: 26px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -.75px;
            margin: 0;
            text-align: left;
        }

        h3 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 18px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -.5px;
            margin: 0;
            text-align: left;
        }

        h4 {
            color: #808080 !important;
            display: block;
            font-family: Helvetica;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: normal;
            margin: 0;
            text-align: left;
        }

        #templatePreheader {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .preheaderContainer .mcnTextContent, .preheaderContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .preheaderContainer .mcnTextContent a {
                color: #606060;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateHeader {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .headerContainer .mcnTextContent, .headerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .headerContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateBody {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .bodyContainer .mcnTextContent, .bodyContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .bodyContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateFooter {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .footerContainer .mcnTextContent, .footerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .footerContainer .mcnTextContent a {
                color: #606060;
                font-weight: normal;
                text-decoration: underline;
            }

        @@media only screen and (max-width: 480px) {
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            body {
                width: 100% !important;
                min-width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[id=bodyCell] {
                padding: 10px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnBoxedTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcpreview-image-uploader] {
                width: 100% !important;
                display: none !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            img[class=mcnImage] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnImageGroupContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageGroupContent] {
                padding: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageGroupBlockInner] {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            tbody[class=mcnImageGroupBlockOuter] {
                padding-bottom: 9px !important;
                padding-top: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionTopContent], table[class=mcnCaptionBottomContent] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionLeftTextContentContainer], table[class=mcnCaptionRightTextContentContainer], table[class=mcnCaptionLeftImageContentContainer], table[class=mcnCaptionRightImageContentContainer], table[class=mcnImageCardLeftTextContentContainer], table[class=mcnImageCardRightTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardTopImageContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardTopImageContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent], table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent] {
                padding-top: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnBoxedTextContentColumn] {
                padding-left: 18px !important;
                padding-right: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnTextContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[id=templateContainer], table[id=templatePreheader], table[id=templateHeader], table[id=templateBody], table[id=templateFooter] {
                max-width: 600px !important;
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h1 {
                font-size: 24px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h2 {
                font-size: 20px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h3 {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h4 {
                font-size: 16px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent], td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[id=templatePreheader] {
                display: block !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=preheaderContainer] td[class=mcnTextContent], td[class=preheaderContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=headerContainer] td[class=mcnTextContent], td[class=headerContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=bodyContainer] td[class=mcnTextContent], td[class=bodyContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=footerContainer] td[class=mcnTextContent], td[class=footerContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=footerContainer] a[class=utilityLink] {
                display: block !important;
            }
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #eeeeee;height: 100% !important;width: 100% !important;">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #eeeeee;height: 100% !important;width: 100% !important;">
            <tr>
                <td align="center" valign="top" id="bodyCell" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 20px;border-top: 0;height: 100% !important;width: 100% !important;">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;">
                        <tr>
                            <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <!-- BEGIN PREHEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                                    <tr>
                                        <td valign="top" class="preheaderContainer" style="padding-top: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="366" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-left: 18px;padding-bottom: 9px;padding-right: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;">

                                                                            Confirmaci&oacute;n de cuenta.
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="197" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END PREHEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                                    <tr>
                                        <td valign="top" class="headerContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnImageBlockInner">
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">


                                                                            <img align="left" alt="" src="https://gallery.mailchimp.com/8b0233979851c45037f6b259b/images/109b650a-b17e-44a2-8109-35782655738a.jpg" width="564" style="max-width: 800px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <!-- BEGIN BODY // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                                    <tr>
                                        <td valign="top" class="bodyContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #EE1B1B;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">

                                                                            <h1 style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 40px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #606060 !important;"><strong>Bienvenid@@ a </strong><strong>EnAutos</strong><strong>.com</strong></h1>

                                                                            <h3 style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 18px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.5px;text-align: left;color: #606060 !important;"><strong>Vende y busca tu veh&iacute;culo en minutos.</strong></h3>

                                                                            <p style="margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                                                                                <br />
                                                                                Hola <strong>@ViewBag.Username</strong>, te damos la bienvenida a la mejor p&aacute;gina de venta y b&uacute;squeda de autos en Rep&uacute;blica Dominicana.<br />
                                                                                <br />
                                                                                Aqu&iacute; podr&aacute;s encontrar el auto que buscas o vender ese auto que tienes.<br />
                                                                                Para confirmar t&uacute; cuenta, por favor visita este enlace: <a href="@ViewBag.CallbackUrl">[Haz click aqu&iacute;]</a> <br />
                                                                            </p>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <!-- BEGIN FOOTER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;">
                                    <tr>
                                        <td valign="top" class="footerContainer" style="padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody class="mcnCaptionBlockOuter">
                                                    <tr>
                                                        <td class="mcnCaptionBlockInner" valign="top" style="padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">




                                                            <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="mcnCaptionRightContentInner" style="padding: 0 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td class="mcnCaptionRightImageContent" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                            <img alt="" src="https://gallery.mailchimp.com/8b0233979851c45037f6b259b/images/a3b41fb7-f37b-4e5a-bb0b-ec3077d936ff.png" width="264" style="max-width: 1100px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;" class="mcnImage" />
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="264" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" class="mcnTextContent" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;">
                                                                                            <em>Copyright &copy; @DateTime.Now.Year EnAutos, Todos los derechos reservados.</em>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>




                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END FOOTER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
    </center>
    @*				<center>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="canspamBarWrapper" style="background-color:#FFFFFF; border-top:1px solid #E5E5E5;">
                <tr>
                    <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
                        <table border="0" cellpadding="0" cellspacing="0" id="canspamBar">
                            <tr>
                                <td align="center" valign="top" style="color:#606060; font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:150%; padding-right:20px; padding-bottom:5px; padding-left:20px; text-align:center;">
                                    This email was sent to <a href="mailto:*|EMAIL|*" target="_blank" style="color:#404040 !important;">*|EMAIL|*</a>
                                    <br />
                                    <a href="*|ABOUT_LIST|*" target="_blank" style="color:#404040 !important;"><em>why did I get this?</em></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UNSUB|*" style="color:#404040 !important;">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*" style="color:#404040 !important;">update subscription preferences</a>
                                    <br />
                                    *|LIST:ADDRESSLINE|*
                                    <br />
                                    <br />
                                    *|REWARDS|*
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <style type="text/css">
                @media only screen and (max-width: 480px){
                    table[id="canspamBar"] td{font-size:14px !important;}
                    table[id="canspamBar"] td a{display:block !important; margin-top:10px !important;}
                }
            </style>
        </center>*@
</body>
</html>