/* TEXT SLIDER
-------------------------------------------------- */

.text-slider {

	text-align: center;
	
  .slide {
    
    padding:15px 0;
  
    h2 {
      color: #fff;
      font:bold 45px $title-font;
      margin:0;
      text-transform:capitalize;
      
    }
  }
  
  .btn { 
		padding: 13px 0;
    min-width: 200px;
    margin:5px;
    @include vendorize(box-shadow, "0 2px 0 -1px rgba(0, 0, 0, 0.2)");
  }
  
  .meta {
    color: #fff;
    margin:15px 0 15px 0;
    text-transform: capitalize;
    font:normal 17px $title-font-2;
    display: inline-block;
    position: relative;
    padding:0 20px 0 20px;
    
    &:before {
      content:"\201C";
      font:bold 30px Arial;
      position: absolute;
      left:0;
      top: 0;
    }
    
    &:after {
      content:"\201D";
      font:bold 30px Arial;
      position: absolute;
      right:0;
      top: 0;
    }
  }
  
  @media (max-width: 767px) {
  
    .slide {
    
      h2 {
        font-size: 25px;
      }
      
    }
    
    .meta {
      font-size: 14px;
    }
  }
  
  @media (max-width: 991px) {
  
    .slide {
    
      h2 {
        font-size: 40px;
      }
      
    }
    
    .meta {
      font-size: 15px;
    }
  }
  
}

.text-slider.no-js {

  .slide {
    padding:15px 0;
  }
	li:nth-child(n + 2) {
    display:none;
  }
}

.text-slider .bx-wrapper {

  height: auto;
	margin: 0;
  
  .bx-pager, .bx-controls-auto { 
		text-align: center; 
    position: static;
    line-height:1;
    padding:0;
    margin:0;
	}
  
  .bx-pager.bx-default-pager a {
    background: $color-1;
		margin:1px;
    border-radius: 0;
    height: 10px;
    width:40px;
    line-height:1;
	}
	
	.bx-pager.bx-default-pager a:hover {
		background: rgba(#fff, 0.7);
	}
	
	.bx-pager.bx-default-pager a.active {
    background: #fff;
	}

}






